<div class="col-12 col-md-12 col-lg py-2">
    <span class="text-secondary small">Copyright @2023</span>
</div>
<div class="col-12 col-md-12 col-lg-auto align-self-center">
    <ul class="nav small">
        <li class="nav-item"><a class="nav-link" href="#">Ayuda</a></li>
        <li class="nav-item">|</li>
        <li class="nav-item"><a class="nav-link" href="#">Condiciones de Uso</a></li>
        <li class="nav-item">|</li>
        <li class="nav-item"><a class="nav-link" href="#">Políticas de Privacidad</a></li>
    </ul>
</div>