<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Checkout</h5>
            <p class="text-secondary">Versión Beta <i class="bi bi-git"></i></p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12"><button class="btn btn-theme" (click)="openCheckout()">ABRIR CHECKOUT</button></div>
</div>