<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="table-responsive invoice-table" id="table">
            <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                <tr class="text-center">
                    <th>Nº</th>
                    <th>Nombres y Apellidos</th>
                    <th>DNI</th>
                    <th>Celular</th>
                    <th>Correo</th>
                    <th>Diplomado</th>
                    <th>Fecha Registro</th>
                    <th>Fecha Contactar</th>
                    <th>Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let valalumnos of fichas, index as id">
                    <td>{{id+1}}</td>
                    <td>{{valalumnos.names}}</td>
                    <td class="text-center">{{valalumnos.num_doc}}</td>
                    <td class="text-center"><a href="https://wa.me/51{{valalumnos.phone}}" target="_blank">{{valalumnos.phone}}</a></td>
                    <td class="text-center">{{valalumnos.mail}}</td>
                    <td class="text-center">{{valalumnos.courses_name}}</td>
                    <td class="text-center"><b>{{valalumnos.created_at | date:'dd/MM/yyyy' }}</b></td>
                    <td class="text-center"><b>{{valalumnos.date_call*1000 | date:'dd/MM/yyyy ⌚HH:mm' }}</b></td>
                    <td class="text-center">
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" title="Eliminar Cliente"
                                class="" (click)="openModalDel(valalumnos.id)">
                            <i class="bi bi-person-x-fill"></i>
                        </a>
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" title="Generar Código de Pago"
                                class="mx-3" (click)="openModalPay(valalumnos)">
                            <i class="bi bi-cash-stack"></i>
                        </a>
                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" title="Seguimiento"
                                class="" (click)="openModalSeguimiento(valalumnos)">
                            <i class="bi bi-binoculars"></i>
                        </a>
                        <!-- <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" title="Editar Cliente"
                            class="" (click)="openModalEdit(valalumnos)">
                            <i class="bi bi-person-x-fill"></i>
                        </a> -->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Empieza modal editar reserva-->
<ng-template #editar let-modal>
    <div class="modal-header d-flex justify-content-center">
        <div class="alert alert-primary">
            <b>EDITAR FICHA CLIENTE</b>
            <button class="btn-close" style="color: black; margin-left: 10px !important;" aria-label="Close"
                (click)="closeModalEdit()"></button>
        </div>
    </div>
    <div class="modal-body">
        HOlaaaa
    </div>
</ng-template>
<!-- Empieza modal elimina reserva-->
<ng-template #delete let-modal>
    <form [formGroup]="formDelete" class="card border-0 border-left-5 border-theme bg-gradient-theme-light">
        <div class="card-header">
            <h5 class="mb-1 title">ELIMINACIÓN DE REGISTRO</h5>
        </div>
        <div class="card-body modal-body">
            <div class="row was-validated">
                <div class="col-md-12 col-sm-12 col-lg-12 mb-2">
                    <div class="form-group mb-3 position-relative">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-chat-right-text"></i></span>
                            <div class="form-floating">
                                <textarea required class="form-control border-start-0 h-auto" rows="3" formControlName="reason"></textarea>
                                <label>Motivo Eliminación</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-sm btn-theme" (click)="deleteClient()" [disabled]="!formDelete.valid">Eliminar Registro</button>
                    <button class="btn btn-sm btn-danger text-light mx-3" (click)="closeModalDel()">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>
<!-- Empieza modal reserva-->
<ng-template #pay let-modal>
    <form [formGroup]="formGenerate" class="card border-0 border-left-5 border-theme bg-gradient-theme-light">
        <div class="card-header">
            <h5 class="mb-1 title">GENERAR CÓDIGO DE PAGO</h5>
        </div>
        <div class="card-body modal-body">
            <div class="row was-validated">
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                    <div class="form-group">
                        <label class="form-label">
                            <span class="text-theme mx-2"><i class="bi bi-book"></i></span>
                            <b>Diplomado:</b>
                        </label>
                        <p class="sub_info">{{detalle.courses_name}}</p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                    <div class="form-group">
                        <label class="form-label">
                            <span class="text-theme mx-2"><i class="bi bi-person"></i></span>
                            <b>Cliente:</b>
                        </label>
                        <p class="sub_info">{{detalle.names}}</p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                    <div class="form-group mb-2 position-relative">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-book"></i></span>
                            <div class="form-floating">
                                <select (change)="selectMatricula($event)" class="form-select border-start-0" formControlName="tipo_matricula" required>
                                    <option value="" disabled selected>Seleccionar Tipo Matricula</option>
                                    <option *ngFor="let tipoMat of tipo_matricula" value="{{tipoMat.id}}">
                                        {{tipoMat.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3" *ngIf="mostrarDate">
                    <div class="form-group mb-2 position-relative">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-calendar"></i></span>
                            <div class="form-floating">
                                <input placeholder="" formControlName="fecha" type="datetime-local" class="form-control border-start-0" autocomplete="off" required>
                            </div>
                        </div>
                        <small class="text-muted">Fecha Siguiente Pago</small>
                        <div *ngIf="formGenerate.controls['fecha'].invalid && (formGenerate.controls['fecha'].dirty || formGenerate.controls['fecha'].touched)" >
                            <div *ngIf="formGenerate.controls['fecha'].errors.required">
                                <small class="text-danger">Por favor ingrese la fecha</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                    <div class="form-group form-check form-switch my-2">
                        <input class="form-check-input" (change)="optionFacture($event)" type="checkbox" formControlName="is_factura">
                        <label>
                            Solicitar Factura
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3" *ngIf="mostrarSelect">
                    <div class="form-group mb-2 position-relative">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-person-badge"></i></span>
                            <div class="form-floating">
                                <input placeholder="" formControlName="ruc" class="form-control border-start-0" autocomplete="off" maxlength="11"
                                onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" (keyup)="getInfoByRuc($event)" required>
                                <label for="floatingInput">Ingrese Nº RUC</label>
                            </div>
                        </div>
                        <div *ngIf="nameruc" class="text-center text-uppercase" style="border-radius: 5px; background: #2a5390">
                            <small><b>{{nameruc}}</b></small>
                        </div>
                        <div *ngIf="formGenerate.controls['ruc'].invalid && (formGenerate.controls['ruc'].dirty || formGenerate.controls['ruc'].touched)" >
                            <div *ngIf="formGenerate.controls['ruc'].errors.required">
                                <small class="text-danger">Por favor ingrese su número de RUC</small>
                            </div>
                            <div *ngIf="formGenerate.controls['ruc'].errors.maxlength">
                                <small class="text-danger">Excediste el número máximo de caracteres</small>
                            </div>
                            <div *ngIf="formGenerate.controls['ruc'].errors.minlength">
                                <small class="text-danger">Debe contener como mínimo 11 caracteres</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 text-center my-2" *ngIf="discount">
                    <div class="card">
                        <div class="card-body">
                            <div class="alert alert-primary nuevo text-center" role="alert">
                                <b>DETALLE PAGO</b>
                            </div>
                            <div class="order-table table-responsive">
                                <table class="table table-bordered">
                                    <tbody>
                                    <tr>
                                        <td class="text-dark" *ngIf="+discount.first_payment!=0">
                                            <small>Matrícula:</small>
                                        </td>
                                        <td class="text-dark" *ngIf="+discount.first_payment==0">
                                            <small>{{nombre_descuento}}:</small>
                                        </td>
                                        <td *ngIf="+discount.first_payment!=0">
                                            <small>S/ {{discount.first_payment}}.00</small>
                                        </td>
                                        <td *ngIf="+discount.first_payment==0">
                                            <small>S/ {{discount.price_diplomado}}.00</small>
                                        </td>
                                    </tr>
                                    <tr *ngIf="+discount.first_payment!=0 && !mostrarDiscount">
                                        <td class="text-dark">
                                            <small>Primera Cuota:</small>
                                        </td>
                                        <td>
                                            <small>S/ {{discount.second_payment}}.00</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark">
                                            <small>Descuento:</small>
                                        </td>
                                        <td>
                                            <small>S/ {{discount.price_discount}}.00</small>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-dark">
                                            <small><b>Total a Pagar:</b></small>
                                        </td>
                                        <td>
                                            <b>
                                                <small>S/ {{discount.total_payment}}.00</small>
                                            </b>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-sm btn-theme" (click)="generateModal()" [disabled]="!formGenerate.valid">Generar Pago</button>
                    <button class="btn btn-sm btn-danger text-light mx-3" (click)="closeModalPay()">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>
<!-- Empieza modal seguimiento-->
<ng-template #seguimiento let-modal>
    <form [formGroup]="formSeguimiento" class="card border-0 border-left-5 border-theme bg-gradient-theme-light">
        <div class="card-header">
            <h5 class="mb-1 title">REGISTRO SEGUIMIENTO</h5>
        </div>
        <div class="card-body modal-body">
            <div class="row was-validated mb-3">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <div class="form-group position-relative mb-2">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-book"></i></span>
                            <div class="form-floating">
                                <select class="form-select border-start-0" formControlName="estado" required>
                                    <option value="" disabled selected>Seleccionar Estado</option>
                                    <option *ngFor="let valSeg of estado_seg" value="{{valSeg.id}}">
                                        {{valSeg.name}}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group position-relative">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-chat-right-text"></i></span>
                            <div class="form-floating">
                                <textarea required class="form-control" placeholder="Motivo Seguimiento" id="floatingTextarea2" formControlName="reason" rows="2"></textarea>
                                <label for="floatingTextarea2">Motivo Seguimiento</label>
                            </div>
                            <!-- <div class="form-floating">
                                <textarea required class="form-control border-start-0 h-auto" rows="3" formControlName="reason" id="floatingInput"></textarea>
                                <label for="floatingInput">Motivo Seguimiento</label>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="card border-0 h-100">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-clock-history h5 me-1 avatar avatar-40 bg-light-theme rounded"></i>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Historial Seguimiento</h6>
                            <p class="text-secondary small"><span class="badge badge-sm bg-yellow">No Contesta</span><span class="badge badge-sm bg-red mx-2">Perdido</span></p>
                        </div>
                    </div>
                </div>
                <div class="card-body px-1 pb-0" *ngIf="data_detail.seguimiento">
                    <table class="table table-borderless mb-0 w-100">
                        <thead class="d-none">
                            <tr class="text-muted">
                                <th class="w-200">Historial Seguimiento</th>
                                <th data-breakpoints="xs sm" class="w-80">No Contesta - Perdido</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let valSeguimiento of data_detail.seguimiento.perdido, index as id">
                            <td>
                                <div class="row">
                                    <div class="col-auto">
                                        <i class="bi bi-x-circle avatar avatar-40 bg-light-red text-red rounded"></i>
                                    </div>
                                    <div class="col ps-0">
                                        <p class="mb-1 text-trucate w-100">{{valSeguimiento.detalle}}</p>
                                        <p class="text-secondary small">{{valSeguimiento.fecha*1000 | date:'dd/MM/yyyy - HH:mm'}}</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr *ngFor="let valSeguimiento of data_detail.seguimiento.no_contesta, index as id">
                            <td>
                                <div class="row">
                                    <div class="col-auto">
                                        <i class="bi bi-telephone-x avatar avatar-40 bg-light-yellow text-yellow rounded"></i>
                                    </div>
                                    <div class="col ps-0">
                                        <p class="mb-1 text-trucate w-100">{{valSeguimiento.detalle}}</p>
                                        <p class="text-secondary small">{{valSeguimiento.fecha*1000 | date:'dd/MM/yyyy - HH:mm'}}</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-sm btn-theme" (click)="saveSeguimiento()" [disabled]="!formSeguimiento.valid">Registro</button>
                    <button class="btn btn-sm btn-danger text-light mx-3" (click)="closeModalSeguimiento()">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>
<!-- Empieza modal pago-->
<ng-template #pago let-modal>
    <div class="modal-header">
        <img src="https://web-altux-files.s3.amazonaws.com/LOGO_ALTUX_WEB.png" alt="" style="width: 25% !important;">
        <button type="button" class="btn-close pull-right" style="color: black" aria-label="Close" (click)="closeModalPago()"></button>
    </div>
    <app-form-pay [generate]="_generate"></app-form-pay>
</ng-template>
<!-- SPINNER -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "triangle-skew-spin">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>