<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card border-0 theme-blue bg-gradient-theme-light mb-4">
            <div class="card-header bg-light-theme">
                <form [formGroup]="grupos" class="row align-items-center">
                    <div class="col-auto">
                        <i class="bi bi-bookmark-star h5 avatar avatar-40 bg-light-theme rounded"></i>
                    </div>
                    <div class="col">
                        <h6 class="fw-medium mb-0 text-uppercase">Estudiantes Registrados</h6>
                        <p class="text-secondary small">Listar de todos los estudiantes registrados</p>
                    </div>
                    <div class="col-auto">
                        <div class="form-group">
                            <label class="form-label"><b>Fecha Inicio</b> </label>
                            <input type="date" class="form-control" formControlName="fecha_inicio" (change)="rerender()">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-group">
                            <label class="form-label"><b>Fecha Fin</b> </label>
                            <input type="date" class="form-control" formControlName="fecha_fin" (change)="rerender()">
                        </div>
                    </div>
                    <div class="col-auto">
                        <div class="form-group">
                            <label class="form-label"><b>Filtrar</b> </label>
                            <ng-select formControlName="grupo"
                                        [items]="grupo"
                                        bindLabel="name_doc"
                                        bindValue="id"
                                        placeholder="Seleccionar Tipo Matricula"
                                        (change)="rerender()">
                            </ng-select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body py-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="table-responsive invoice-table" id="table">
                            <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead>
                                <tr class="text-center">
                                    <th>Nº</th>
                                    <th>Estudiante</th>
                                    <th>N° Documento</th>
                                    <th>Diplomado</th>
                                    <th>Estado</th>
                                    <th>Monto</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Fecha Matricula</th>
                                    <th>Acciones</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let valregistro of registro, index as id">
                                    <td>{{id+1}}</td>
                                    <td>{{valregistro.name_student}} {{valregistro.lastname_student}}</td>
                                    <td>{{valregistro.dni_student}}</td>
                                    <td class="text-center">{{valregistro.course_name}}</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" class="text-success">
                                            <span class="badge rounded-pill bg-green text-capitalize">Pagado</span>
                                        </a>
                                    </td>
                                    <td class="text-center text-success">S/ {{(+valregistro.precio_total).toFixed(2)}}</td>
                                    <td class="text-center">{{valregistro.phone}}</td>
                                    <td>{{valregistro.correo}}</td>
                                    <td class="text-center">{{valregistro.matricula_fecha | date:'dd/MM/yyyy'}}</td>
                                    <td class="text-center">
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" title="Reenviar Acceso Estudiante"
                                            class="mx-2" (click)="generateCode(valregistro.id_student, valregistro)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-envelope-exclamation" viewBox="0 0 16 16">
                                                <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"/>
                                                <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1.5a.5.5 0 0 1-1 0V11a.5.5 0 0 1 1 0Zm0 3a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Z"/>
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SPINNER -->
<ngx-spinner type="timer"></ngx-spinner>