<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Dashboard Ventas</h5>
            <p class="text-secondary">Versión Beta 😀 <i class="bi bi-git"></i></p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="row" *ngIf="cantidades">
        <div class="col-12 col-md-12 col-lg-6 col-xl-3 column-set mb-4">
            <div class="card border-0">
                <a href="javascript:void(0);" routerLink="/ventas/registro" class="card-body" (click)="detalleVenta('leads')">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-40 rounded bg-blue shadow-sm text-white">
                                <i class="bi bi-person-workspace h5"></i>
                            </div>
                        </div>
                        <div class="col">
                            <p class="small text-secondary mb-1">Leads Repartidos</p>
                            <h6 class="fw-medium mb-0">{{cantidades.cantidad_leads}}</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-3 column-set mb-4">
            <div class="card border-0">
                <a href="javascript:void(0);" routerLink="/ventas/registro" class="card-body" (click)="detalleVenta('ficha')">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-40 rounded bg-green shadow-sm text-white">
                                <i class="bi bi-folder2-open h5"></i>
                            </div>
                        </div>
                        <div class="col">
                            <p class="small text-secondary mb-1">Fichas</p>
                            <h6 class="fw-medium mb-0">{{cantidades.cantidad_fichas}}</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-3 column-set mb-4">
            <div class="card border-0">
                <a href="javascript:void(0);" routerLink="/ventas/registro" class="card-body" (click)="detalleVenta('matricula')">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-40 rounded bg-purple shadow-sm text-white">
                                <i class="bi bi-people h5"></i>
                            </div>
                        </div>
                        <div class="col">
                            <p class="small text-secondary mb-1">Solo Matrícula</p>
                            <h6 class="fw-medium mb-0">{{cantidades.cantidad_solo_matricula}}</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-6 col-xl-3 column-set mb-4">
            <div class="card border-0">
                <a href="javascript:void(0);" routerLink="/ventas/alumnos" class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <div class="avatar avatar-40 rounded bg-yellow shadow-sm text-white">
                                <i class="bi bi-journal-check h5"></i>
                            </div>
                        </div>
                        <div class="col">
                            <p class="small text-secondary mb-1">Ventas Completas del Mes</p>
                            <h6 class="fw-medium mb-0">{{cantidades.cantidad_ventas}}</h6>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-12 position-relative">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-info-circle h5 avatar avatar-40 bg-light-theme rounded"></i>
                        </div>
                        <div class="col-auto align-self-center">
                            <h6 class="fw-medium mb-0">Informe Diplomados</h6>
                            <p class="text-secondary small">Listar de diplomados para ver información</p>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="input-group border">
                                <span class="input-group-text text-theme"><i class="bi bi-search"></i></span>
                                <input type="text" class="form-control" placeholder="Buscar...">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive invoice-table" id="table">
                        <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <thead>
                                <tr class="text-muted">
                                    <th class="">Diplomado</th>
                                    <th class="text-center">Estudiantes Matrículados</th>
                                    <th class="text-center">Vacantes Disponibles</th>
                                    <th>Última Fecha Venta</th>
                                    <th>Fecha Inicio Clases</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let valinforme of informe_diplomados, index as id">
                                    <td>
                                        <div class="row">
                                            <div class="col-auto">
                                                <i class="bi bi-book avatar avatar-40 bg-light-blue text-blue rounded"></i>
                                            </div>
                                            <div class="col ps-0">
                                                <p class="mb-1 text-trucate w-100">{{valinforme.diplomado}}</p>
                                                <p class="text-secondary small">{{valinforme.diplomado_code}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        {{valinforme.estudiantes_matriculados}}
                                    </td>
                                    <td class="text-center">
                                        {{valinforme.vacantes_disponibles}}
                                    </td>
                                    <td>
                                        <a href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="right" title="Actualizar Fecha"
                                            class="" *ngIf="user=='SANDRA MARIA'" (click)="actFecha(valinforme.diplomado_code)">
                                            <p class="mb-0">{{(+valinforme.ultima_fecha_venta)*1000 | date:'dd/MM/yyyy'}}</p>
                                            <p class="text-secondary small">{{(+valinforme.ultima_fecha_venta)*1000 | date:'h:mm a'}}</p>
                                        </a>
                                        <div *ngIf="user!='SANDRA MARIA'">
                                            <p class="mb-0">{{(+valinforme.ultima_fecha_venta)*1000 | date:'dd/MM/yyyy'}}</p>
                                            <p class="text-secondary small">{{(+valinforme.ultima_fecha_venta)*1000 | date:'h:mm a'}}</p>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="mb-0">{{valinforme.fecha_inicio_clases*1000 | date:'dd/MM/yyyy'}}</p>
                                        <p class="text-secondary small">{{valinforme.fecha_inicio_clases*1000 | date:'h:mm a'}}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tablas Fichas Leads -->
    <div class="row">
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4">
            <div class="card border-0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-cash-coin h5 avatar avatar-40 bg-light-red rounded text-danger"></i>
                        </div>
                        <div class="col-auto align-self-center">
                            <h6 class="fw-medium mb-0">Compromisos Pago Matrícula LEADS</h6>
                            <p class="text-secondary small">Listado de los pagos próximos a hacer</p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-borderless footable" data-show-toggle="true">
                        <thead>
                            <tr class="text-muted">
                                <th class="">Datos</th>
                                <th data-breakpoints="xs md">Celular</th>
                                <th class="w-auto">Fecha Contactar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let valinforme of compromisos_leads, index as id">
                                <td>
                                    <p class="mb-0">{{valinforme.nombres}} {{valinforme.apellidos}}</p>
                                    <p class="text-secondary small mb-1">{{valinforme.diplomado.courses_name}}</p>
                                </td>
                                <td>
                                    <a href="https://wa.me/51{{valinforme.telefono}}" target="_blank" class="">
                                        <p class="mb-0">{{valinforme.telefono}}</p>
                                    </a>
                                </td>
                                <td>
                                    <p class="mb-0">{{(+valinforme.seguimiento.compromiso_pago[0].fecha_pago)*1000 | date:'dd/MM/yyyy'}}</p>
                                    <p class="text-secondary small">{{(+valinforme.seguimiento.compromiso_pago[0].fecha_pago)*1000 | date:'h:mm a'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row align-items-center mx-0 mb-3">
                        <div class="col-6 ">
                            <span class="hide-if-no-paging">
                                Viendo <span id="footablestot">1</span> página
                            </span>
                        </div>
                        <div class="col-6" id="footable-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4">
            <div class="card border-0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-file-earmark-person h5 avatar avatar-40 bg-light-red rounded text-danger"></i>
                        </div>
                        <div class="col-auto align-self-center">
                            <h6 class="fw-medium mb-0">Información Enviada LEADS</h6>
                            <p class="text-secondary small">Listado de las personas que pidieron información</p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-borderless footable2" data-show-toggle="true">
                        <thead>
                            <tr class="text-muted">
                                <th class="">Datos</th>
                                <th data-breakpoints="xs md">Celular</th>
                                <th class="w-auto">Fecha Contactar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let valinforme of informes_leads, index as id">
                                <td>
                                    <p class="mb-0">{{valinforme.nombres}} {{valinforme.apellidos}}</p>
                                    <p class="text-secondary small mb-1">{{valinforme.diplomado.courses_name}}</p>
                                </td>
                                <td>
                                    <a href="https://wa.me/51{{valinforme.telefono}}" target="_blank" class="">
                                        <p class="mb-0">{{valinforme.telefono}}</p>
                                    </a>
                                </td>
                                <td>
                                    <p class="mb-0">{{(+valinforme.seguimiento.informacion[0].fecha_contactar)*1000 | date:'dd/MM/yyyy'}}</p>
                                    <p class="text-secondary small">{{(+valinforme.seguimiento.informacion[0].fecha_contactar)*1000 | date:'h:mm a'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row align-items-center mx-0 mb-3">
                        <div class="col-6 ">
                            <span class="hide-if-no-paging">
                                Viendo <span id="footablestot2">1</span> página
                            </span>
                        </div>
                        <div class="col-6" id="footable-pagination2"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4">
            <div class="card border-0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-cash-coin h5 avatar avatar-40 bg-light-green rounded text-success"></i>
                        </div>
                        <div class="col-auto align-self-center">
                            <h6 class="fw-medium mb-0">Compromisos Pago Matrícula FICHAS</h6>
                            <p class="text-secondary small">Listado de los pagos próximos a hacer</p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-borderless footable3" data-show-toggle="true">
                        <thead>
                            <tr class="text-muted">
                                <th class="">Datos</th>
                                <th data-breakpoints="xs md">Celular</th>
                                <th class="w-auto">Fecha Contactar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let valinforme of compromisos_ficha, index as id">
                                <td>
                                    <p class="mb-0">{{valinforme.name}} {{valinforme.latname}}</p>
                                    <p class="text-secondary small mb-1">{{valinforme.diplomado.courses_name}}</p>
                                </td>
                                <td>
                                    <a href="https://wa.me/51{{valinforme.phone}}" target="_blank" class="">
                                        <p class="mb-0">{{valinforme.phone}}</p>
                                    </a>
                                </td>
                                <td>
                                    <p class="mb-0">{{(+valinforme.seguimiento.compromiso_pago[0].fecha_pago)*1000 | date:'dd/MM/yyyy'}}</p>
                                    <p class="text-secondary small">{{(+valinforme.seguimiento.compromiso_pago[0].fecha_pago)*1000 | date:'h:mm a'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row align-items-center mx-0 mb-3">
                        <div class="col-6 ">
                            <span class="hide-if-no-paging">
                                Viendo <span id="footablestot3">1</span> página
                            </span>
                        </div>
                        <div class="col-6" id="footable-pagination3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-4">
            <div class="card border-0">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-file-earmark-person h5 avatar avatar-40 bg-light-green rounded text-success"></i>
                        </div>
                        <div class="col-auto align-self-center">
                            <h6 class="fw-medium mb-0">Información Enviada FICHAS</h6>
                            <p class="text-secondary small">Listado de las personas que pidieron información</p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-borderless footable4" data-show-toggle="true">
                        <thead>
                            <tr class="text-muted">
                                <th class="">Datos</th>
                                <th data-breakpoints="xs md">Celular</th>
                                <th class="w-auto">Fecha Contactar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let valinforme of informes_ficha, index as id">
                                <td>
                                    <p class="mb-0">{{valinforme.name}} {{valinforme.latname}}</p>
                                    <p class="text-secondary small mb-1">{{valinforme.diplomado.courses_name}}</p>
                                </td>
                                <td>
                                    <a href="https://wa.me/51{{valinforme.phone}}" target="_blank" class="">
                                        <p class="mb-0">{{valinforme.phone}}</p>
                                    </a>
                                </td>
                                <td>
                                    <p class="mb-0">{{(+valinforme.seguimiento.informacion[0].fecha_contactar)*1000 | date:'dd/MM/yyyy'}}</p>
                                    <p class="text-secondary small">{{(+valinforme.seguimiento.informacion[0].fecha_contactar)*1000 | date:'h:mm a'}}</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row align-items-center mx-0 mb-3">
                        <div class="col-6 ">
                            <span class="hide-if-no-paging">
                                Viendo <span id="footablestot4">1</span> página
                            </span>
                        </div>
                        <div class="col-6" id="footable-pagination4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row">
        <div class="col-12 col-md-12 position-relative">
            <div class="card border-0 mb-4">
                <div class="card-header">
                    <div class="row">
                        <div class="col-auto">
                            <i class="bi bi-cash-stack h5 avatar avatar-40 bg-light-orange rounded" style="color: rgb(162, 86, 10);"></i>
                        </div>
                        <div class="col-auto align-self-center">
                            <h6 class="fw-medium mb-0">Alumnos Pagos Matrícula</h6>
                            <p class="text-secondary small">Listado de alumnos que pagaron su matrícula, pero falta el pago del 1 mes</p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <app-matriculas></app-matriculas>
                </div>
            </div>
        </div>
    </div> -->
</div>
<!-- SPINNER -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "triangle-skew-spin">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>