<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">MY INFINITY</h5>
            <p class="text-secondary text-uppercase">Aula virtual inteligente.</p>
        </div>
    </div>
</div>
<!-- welcome bar -->
<div class="container-fluid bg-gradient-theme-light mb-4">
    <div class="row">
        <div class="col-12 col-xxl-11 mx-auto">
            <div class="row align-items-center">

                <!-- welcome message -->
                <div class="col-12 col-md py-3 py-md-5">
                    <h2 class="fw-light mb-0 text-secondary">Bienvenid@,</h2>
                    <h1 class="display-3 username text-uppercase">{{userName}}</h1>

                    <!-- <iframe src="https://drive.google.com/file/d/1UM0JeMv_9doVSuOXW9xiTclyj5YvyIy0/preview" width="640" height="480" allow="autoplay"></iframe> -->
                    <!-- Swiper daily quote -->
                    <swiper [slidesPerView]="1" [spaceBetween]="0" [pagination]="false" [autoplay]="{delay: 2000}" class="dailyquote mt-4 w-100 mx-0">
                        <!-- <ng-template swiperSlide>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i class="bi bi-calendar-event h6 avatar avatar-40 rounded-circle bg-light-theme"></i>
                                </div>
                                <div class="col">
                                    <a routerLink="pages/profile/professional" class="tag mb-2 me-2">
                                        <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-4.jpg" alt=""></figure> James Wang <i class="bi bi-chat-right-dots vm ms-2"></i>
                                    </a>
                                    <a routerLink="pages/profile/professional" class="tag mb-2 me-2">
                                        <figure class="avatar avatar-30 rounded-circle me-1 coverimg"><img src="assets/img/user-2.jpg" alt=""></figure> Millie Tyson <i class="bi bi-chat-right-dots vm ms-2"></i>
                                    </a>
                                    <p class="lead">Your 5 partner and our CEO's <span class="text-gradient">birthday</span> today.</p>
                                </div>
                            </div>
                        </ng-template> -->
                        <ng-template swiperSlide>
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <i class="bi bi-quote h5 avatar avatar-40 rounded-circle bg-light-theme"></i>
                                </div>
                                <div class="col">
                                    <h5 class="fw-normal text-gradient">Actualizados marcamos la diferencia.</h5>
                                    <p class="fw-light text-gradient">INFINITY </p>
                                </div>
                            </div>
                        </ng-template>
                    </swiper>
                </div>

                <!-- rank and progress -->
                <div class="col-auto ml-auto py-3 py-md-5 align-self-center">
                    <div class="row mb-4">
                        <div class="col col-md col-lg-auto mnw-100 text-center">
                            <i class="bi bi-telephone h5 avatar avatar-50 bg-light-red text-red rounded-circle mb-2"></i>
                            <br>
                            <span class="badge bg-red rounded vm fw-normal fs-12"><i class="bi bi-x-circle me-1"></i> Sin Verificar</span>
                        </div>
                        <div class="col col-md col-lg-auto mnw-100 text-center">
                            <i class="bi bi-envelope h5 avatar avatar-50 bg-light-green text-green rounded-circle mb-2"></i>
                            <!-- <h3 class="increamentcount mb-0">✔️</h3> -->
                            <br>
                            <span class="badge bg-green rounded vm fw-normal fs-12"><i class="bi bi-check-circle me-1"></i> Verificado</span>
                        </div>
                        <div class="col col-md col-lg-auto mnw-100 text-center">
                            <i class="bi bi-geo-alt h5 avatar avatar-50 bg-light-red text-red rounded-circle mb-2"></i>
                            <!-- <h3 class="increamentcount mb-0">❌</h3> -->
                            <br>
                            <span class="badge bg-red rounded vm fw-normal fs-12"><i class="bi bi-x-circle me-1"></i> Sin Verificar</span>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <br>
                            <i class="bi bi-hourglass-split h5 avatar avatar-50 bg-warning text-white rounded-circle"></i>
                        </div>
                        <div class="col ps-0">
                            <br>
                            <p>Verificación Pendiente</p>
                            <div class="progress h-5 mb-1 bg-light-theme">
                                <div class="progress-bar bg-theme" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" 
                                    aria-valuemax="100"></div>
                            </div>
                            <p class="text-secondary small"><a routerLink="/pages/profile/account-settings">Completa tu perfil</a></p>
                        </div>
                    </div>
                </div>

                <!-- Tips swiper message -->
                <div class="col-auto d-none d-xxl-block h-100 py-4">
                    <div class="card border-0 h-100 bg-gradient-yellow-light">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h6 class="fw-medium">
                                        <i class="bi bi-lightbulb text-warning me-1"></i>
                                        Recomendaciones
                                    </h6>
                                </div>
                                <!-- <div class="col-auto">
                                    <button class="btn btn-sm btn-outline-warning px-2 py-0" id="starttour" data-bs-toggle="tooltip" data-bs-placement="top" title="Start Tour"><i class="bi bi-play"></i> Tour</button>
                                    <div class="dropdown d-inline-block ms-2">
                                        <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" data-bs-display="static" role="button">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </a>
                                        <ul class="dropdown-menu dropdown-menu-end">
                                            <li class="dropstart open-left ">
                                                <a class="dropdown-item dd-arrow-none dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false" data-bs-display="static">
                                                    Customize Tips
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-start w-300">
                                                    <div class="dropdown-item">
                                                        <h6 class="mb-0">Tips:</h6>
                                                        <p class="text-secondary">1656 visited this week</p>
                                                    </div>
                                                    <div class="dropdown-item">
                                                        <div class="input-group input-group-md border rounded">
                                                            <span class="input-group-text text-theme"><i class="bi bi-lightbulb"></i></span>
                                                            <select class="form-control simplechosen" multiple>
                                                                <option value="San Francisco">San Francisco</option>
                                                                <option value="New York">New York</option>
                                                                <option value="London">London</option>
                                                                <option value="Chicago">Chicago</option>
                                                                <option value="India" selected>India</option>
                                                                <option value="Sydney">Sydney</option>
                                                                <option value="Seattle">Seattle</option>
                                                                <option value="Los Angeles">Los Angeles</option>
                                                                <option value="Indonesia">Indonesia</option>
                                                                <option value="Los Angeles">Los Angeles</option>
                                                                <option value="Chicago">Chicago</option>
                                                                <option value="India">India</option>
                                                            </select>
                                                        </div>
                                                        <div class="invalid-feedback">You have already selected maximum option allowed. (This is Configurable)</div>
                                                    </div>
                                                    <ul class="list-group list-group-flush bg-none mb-2">
                                                        <li class="list-group-item">
                                                            <div class="row">
                                                                <div class="col">Includes System</div>
                                                                <div class="col-auto">
                                                                    <div class="form-check form-switch">
                                                                        <input class="form-check-input" type="checkbox" role="switch" id="tipswitch1">
                                                                        <label class="form-check-label" for="tipswitch1"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                        <li class="list-group-item">
                                                            <div class="row">
                                                                <div class="col">Apps Shortcuts</div>
                                                                <div class="col-auto">
                                                                    <div class="form-check form-switch">
                                                                        <input class="form-check-input" type="checkbox" role="switch" id="tipswitch2" checked="">
                                                                        <label class="form-check-label" for="tipswitch2"></label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    <div class="dropdown-item">
                                                        <div class="row">
                                                            <div class="col"><button class="btn btn-outline-secondary border ddclose">cancel</button></div>
                                                            <div class="col-auto">
                                                                <button class="btn btn-theme">Save</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                            <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                                        </ul>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="card-body ">
                            <!-- image swiper -->
                            <swiper [slidesPerView]="1" [spaceBetween]="0" [pagination]="false" [autoplay]="{delay: 2000}" class="image-swiper w-200 h-100 text-center">
                                <ng-template swiperSlide>
                                    <i class="bi bi-chat-right-dots h4 text-success mb-3 d-block"></i>
                                    <p>RECUERDA ESTAR ATENTO A TU CRONOGRAMA DE ACTIVIDADES</p>
                                    <!-- <p class="small text-secondary">From the top right corner you can have access to chat panel and click on any user chat window 
                                        interface will be open.</p> -->
                                </ng-template>
                                <ng-template swiperSlide>
                                    <i class="bi bi-person h4 text-theme mb-3 d-block"></i>
                                    <p>INGRESA A TU CLASE 10 MINUTOS ANTES</p>
                                    <!-- <p class="small text-secondary">User on-boarding comes in the sign up flow. Complete sign up process you will see the on-boarding 
                                        pages at best UI UX.</p> -->
                                </ng-template>
                                <!-- <ng-template swiperSlide>
                                    <i class="bi bi-search h4 text-danger mb-3 d-block"></i>
                                    <h6>Search Result</h6>
                                    <p class="small text-secondary">Try to type something in search box at header and big search result box will be appeared right away.</p>
                                </ng-template>
                                <ng-template swiperSlide>
                                    <i class="bi bi-heart h4 text-danger mb-3 d-block"></i>
                                    <h6 class="text-gradient">Spread love</h6>
                                    <p class="small text-secondary">If you like our template <b class="text-gradient">please share</b> to the beautiful world. World is
                                            waiting to get more good things. <i class="text-danger bi bi-heart-fill"></i></p>
                                </ng-template> -->
                            </swiper>
                            <!-- image swiper ends -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin: 1%;">
    <div class="col-sm-12 col-md-6 col-lg-6 row">
        <div class="col-sm-12 col-md-12 col-lg-12 column-set mb-4">
            <div class="card border-0 theme-blue bg-gradient-theme-light h-100">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="avatar avatar-40 rounded mb-0 coverimg">
                                <img src="https://web-altux-files.s3.amazonaws.com/Nosotros/Logo-Altux-solo.png" alt="">
                            </span>
                        </div>
                        <div class="col">
                            <h6 class="fw-medium mb-0">Monitoreo</h6>
                            <p class="text-secondary small">Estado Actividad</p>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="text-secondary mb-3">Hora Perú: <b class="text-dark">
                        {{date | date:'dd'}} de {{date | date:'MMMM'}} del {{date | date:'yyyy'}}
                    </b></p>
                    <div class="row text-center gx-2">
                        <p class="display-3 mb-0 fw-bold"><span id="time">{{date | date:'hh:mm:ss'}}</span><small><span class="h4 text-uppercase" id="ampm">{{date | date:' a'}}</span></small></p>
                        <!-- <p class="lead fw-normal" id="date">{{date | date:'dd/MM/yyyy'}}</p> -->
                    </div>
                    <!-- <div class="progress bg-light-theme h-5 mb-2">
                        <div class="progress-bar bg-theme" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <p class="small text-secondary">Project Status <span class="float-end">50%</span></p>
                    <p class="mb-3">
                        <span class="btn btn-sm btn-link bg-light-green text-green">Web App</span>
                        <span class="btn btn-sm btn-link bg-light-yellow text-yellow ms-1">Medium priority</span>
                    </p> -->
                </div>
            </div>
        </div>  
        <div class="col-sm-12 col-md-12 col-lg-12 mb-4">
            <div class="card border-0 theme-blue bg-gradient-theme-light h-100">
                <div class="card-header bg-light-theme">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <i class="bi bi-life-preserver h5 avatar avatar-40 bg-light-theme rounded"></i>
                        </div>
                        <form [formGroup]="formMatricula" class="col">
                            <h6 class="fw-medium mb-0">Proceso del Programa</h6>
                            <!-- <p class="small text-secondary">Enfermería Estética</p> -->
                            <ng-select formControlName="diplomado"
                                       [items]="diplomados"
                                       bindLabel='courses_name'
                                       bindValue='courses_code'
                                       placeholder="SELECCIONAR DIPLOMADO*"
                                       (change)="selectDiplomado($event)">
                            </ng-select>
                        </form>
                    </div>  
                </div>
                <div class="card-body" *ngIf="detail_diplomado">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="circle-small theme-blue">
                                                <circle-progress classw="d-block vm" [percent]="(detail_diplomado.porcen_asistencia).toFixed(2)" [radius]="21" [outerStrokeWidth]="4" 
                                                    [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" 
                                                    [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" 
                                                    [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" 
                                                    [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                                <div class="avatar h6 bg-light-blue rounded-circle">
                                                    <i class="bi bi-check-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-secondary small mb-1">Avance de Asistencia</p>
                                            <h5 class="fw-medium">{{(detail_diplomado.porcen_asistencia).toFixed(2)}}%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer border-top">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="text-secondary small mb-1">Asistido</p>
                                            <p>{{detail_diplomado.cantidad_asistencias}}</p>
                                        </div>
                                        <div class="col-6 border-left-dashed">
                                            <p class="text-secondary small mb-1">Total Clases</p>
                                            <p>{{detail_diplomado.cantidad_clases_total}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 mb-3">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="circle-small theme-green">
                                                <circle-progress class="d-block vm" [percent]="(detail_diplomado.porcen_notas).toFixed(2)" [radius]="21" [outerStrokeWidth]="4" 
                                                    [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" 
                                                    [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" 
                                                    [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" [titleFontSize]="'15'" 
                                                    [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                                <div class="avatar h5 bg-light-green text-green rounded-circle">
                                                    <i class="bi bi-clipboard-check"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-secondary small mb-1">Avance de Exámenes</p>
                                            <h5 class="fw-medium">{{(detail_diplomado.porcen_notas).toFixed(2)}}%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer border-top">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="text-secondary small mb-1">Exámenes Realizados</p>
                                            <p>{{detail_diplomado.notas_desaprobadas+detail_diplomado.notas_aprobadas}}</p>
                                        </div>
                                        <div class="col-6 border-left-dashed">
                                            <p class="text-secondary small mb-1">Total Exámenes</p>
                                            <p>{{detail_diplomado.cantidad_notas_total}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="circle-small theme-yellow">
                                                <circle-progress class="d-block vm" [percent]="(detail_diplomado.porcen_notas).toFixed(2)" [radius]="21" [outerStrokeWidth]="4" 
                                                    [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" 
                                                    [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" 
                                                    [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" 
                                                    [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                                <div class="avatar h5 bg-light-yellow text-yellow rounded-circle">
                                                    <i class="bi bi-book"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <p class="text-secondary small mb-1">Avance de Notas</p>
                                            <h5 class="fw-medium">{{(detail_diplomado.porcen_notas).toFixed(2)}}%</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer border-top">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="text-secondary small mb-1">Desaprobatorias</p>
                                            <p class="text-danger">{{detail_diplomado.notas_desaprobadas}}</p>
                                        </div>
                                        <div class="col-6 border-left-dashed">
                                            <p class="text-secondary small mb-1">Aprobatorias</p>
                                            <p class="text-success">{{detail_diplomado.notas_aprobadas}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <div class="card border-0">
                                <div class="card-body">
                                    <div class="row align-items-center">
                                        <div class="col-auto">
                                            <div class="circle-small theme-red">
                                                <circle-progress class="d-block vm" [percent]="(detail_diplomado.porcen_asistencia).toFixed(2)" [radius]="21" [outerStrokeWidth]="4" 
                                                    [innerStrokeWidth]="4" [space]="-4" [outerStrokeColor]="'var(--WinDOORS-theme)'" 
                                                    [innerStrokeColor]="'rgba(var(--WinDOORS-theme-rgb), 0.2)'" [animation]="true" 
                                                    [animationDuration]="300" [showTitle]="false" [showSubtitle]="false" 
                                                    [titleFontSize]="'15'" [showUnits]="false" [backgroundPadding]="0"></circle-progress>
                                                <div class="avatar h5 bg-light-red rounded-circle">
                                                    <i class="bi bi-award"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="row gx-0">
                                                <div class="col">
                                                    <p class="text-secondary small mb-1">Avance de Clases</p>
                                                    <h5 class="fw-medium">{{(detail_diplomado.porcen_asistencia).toFixed(2)}}%</h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer border-top">
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="text-secondary small mb-1">Inasistencia</p>
                                            <p class="text-danger">{{detail_diplomado.cantidad_inasistencias}}</p>
                                        </div>
                                        <div class="col-6 border-left-dashed">
                                            <p class="text-secondary small mb-1">Asistencia</p>
                                            <p class="text-success">{{detail_diplomado.cantidad_asistencias}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-light-theme" *ngIf="detail_diplomado">
                    <a href="javascript:void(0)" routerLink="/alumno/academico/{{detail_diplomado.diplomado_code}}" 
                        class="btn btn-sm btn-outline-theme parpadea">Ir al Programa</a>
                    <a href="https://api.whatsapp.com/send/?phone=51900176243" 
                        target="_blank" class="btn btn-sm btn-outline-dark mx-3">Soporte Académico</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6 column-set">
        <div class="card border-0 theme-blue bg-gradient-theme-light h-100">
            <div class="card-header bg-light-theme">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <i class="bi bi-shield-check h5 me-1 avatar avatar-40 bg-light-theme rounded"></i>
                    </div>
                    <div class="col">
                        <h6 class="fw-medium mb-0">Cronograma de Actividades</h6>
                        <p class="text-secondary small">Verifica tu cronograma</p>
                    </div>
                    <div class="col-auto d-flex">
                        <span class="badge bg-red">Pago</span>
                        <span class="badge bg-blue mx-3">Clase</span>
                        <span class="badge bg-green">Evaluacion</span>
                    </div>
                </div>
            </div>
            <div class="card-body px-0">
                <table class="table table-borderless footable2 mb-0" data-show-toggle="true">
                    <thead class="d-none">
                        <tr class="text-muted">
                            <th class="w-400">Connection</th>
                            <th data-breakpoints="xs sm" class="w-80">Devices</th>
                            <!-- <th data-breakpoints="all">Status</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let valCrono of cronograma">
                            <td class="" style="width: 60%;">
                                <div class="row">
                                    <div class="col-auto text-center" *ngIf="valCrono.tipo=='pago'">
                                        <i class="bi bi-calendar avatar avatar-40 bg-light-red text-red rounded"></i>
                                    </div>
                                    <div class="col-auto text-center" *ngIf="valCrono.tipo=='clase'">
                                        <i class="bi bi-journal-medical avatar avatar-40 bg-light-blue text-blue rounded"></i>
                                    </div>
                                    <div class="col-auto text-center" *ngIf="valCrono.tipo=='evaluacion'">
                                        <i class="bi bi-file-earmark-binary avatar avatar-40 bg-light-green text-green rounded"></i>
                                    </div>
                                    <div class="col ps-0">
                                        <p class="mb-1 text-trucate w-100">{{valCrono.detalle.diplomado}}</p>
                                        <p class="text-secondary small" *ngIf="valCrono.tipo=='pago'">
                                            {{valCrono.detalle.num_cuota}}
                                        </p>
                                        <p class="text-secondary small" *ngIf="valCrono.tipo!='pago'" 
                                            routerLink="/alumno/academico/{{valCrono.detalle.diplomado_code}}">
                                            Bloque {{valCrono.detalle.modulo}}
                                        </p>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center" style="width: 40%;">
                                <p class="text-trucate w-100" *ngIf="valCrono.tipo=='pago'">
                                    <b>Pago N°{{valCrono.detalle.num_cuota.substr(-1)}}</b> <br>
                                    <span class="badge bg-red">{{valCrono.detalle.fecha_vencimiento*1000  | date:'dd/MM/yyyy'}}</span>
                                </p>
                                <p class="text-trucate w-100" *ngIf="valCrono.tipo=='clase'" 
                                    routerLink="/alumno/academico/{{valCrono.detalle.diplomado_code}}">
                                    <b>Clase N°{{valCrono.detalle.clase}}</b> <br>
                                    <span class="badge bg-blue">{{valCrono.detalle.fecha_clase*1000  | date:'dd/MM/yyyy HH:mm'}}</span>
                                </p>
                                <p class="text-trucate w-100" *ngIf="valCrono.tipo=='evaluacion'"
                                    routerLink="/alumno/academico/{{valCrono.detalle.diplomado_code}}">
                                    <b>{{valCrono.detalle.name_evaluacion}}</b> <br>
                                    <span class="badge bg-green">{{valCrono.detalle.fecha_inicio*1000  | date:'dd/MM/yyyy'}}</span>
                                </p>
                            </td>
                            <!-- <td>
                                <span class="badge bg-blue">Pendiente</span>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- SPINNER -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "triangle-skew-spin">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>