
tbody {
    display: block;
    height: 600px;
    overflow: auto;
}

table thead, table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.ng-select{
    .ng-select-container {
        background: none !important;
    }
}

.parpadea {
    animation-name: parpadeo;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name:parpadeo;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes parpadeo {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

.calendar{
    //margin:.25em 10px 10px 0;
    padding-top:5px;
    float:left;
    width:80px;
    background:transparent;
    font:bold 35px/55px Arial Black, Arial, Helvetica, sans-serif;
    text-align:center;
    //color:#000;
    //text-shadow:#fff 0 1px 0;     
    border:1px solid #E33A59;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;      
    position:relative;
    // -moz-box-shadow:0 2px 2px #888;
    // -webkit-box-shadow:0 2px 2px #888;
    //box-shadow:0 2px 2px #888;
}

.calendar em{
    display:block;
    font:normal bold 15px/30px Arial, Helvetica, sans-serif;
    color:#fff;
    text-shadow:#E33A59 0 -1px 0; 
    background:#E33A59;
    background:-webkit-gradient(linear, left top, left bottom, from(#E33A59), to(#E33A59)); 
    background:-moz-linear-gradient(top,  #E33A59,  #E33A59); 
    -moz-border-radius-top-right:5px;
    -webkit-border-top-right-radius:5px;   
    border-top-right-radius:5px;
    -moz-border-radius-top-left:5px;
    -webkit-border-top-left-radius:5px;    
    border-top-left-radius:5px;
    border-top:1px solid #E33A59;
    margin-top: -6px;
}