<div class="card row my-2">
    <div class="card-body">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="alert alert-primary nuevo">
                <b>SUBIR PROGRAMA</b>
            </div>
            <hr>
        </div>
        <form class="col-sm-12 col-md-12 col-lg-12" action="#">
            <aw-wizard navBarLayout='large-filled-symbols'>
                <aw-wizard-step [navigationSymbol]="{ symbol: '1' }">
                    <form [formGroup]="formDiplomado">
                        <ng-template awWizardStepTitle>
                            <p>Crear Diplomado</p>
                        </ng-template>
                        <div class="setup-content" id="step-1">
                            <div class="row mb-2">
                                <div class="col-sm-12 col-md-4 col-lg-4 my-3">
                                    <div class="form-group">
                                        <ng-select formControlName="type_publicacion"
                                                    [items]="tipo_publicacion"
                                                    bindLabel='name'
                                                    bindValue='id'
                                                    placeholder="Seleccionar Tipo Publicación"
                                                    (change)="SelectTypePublication($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4 my-3">
                                    <div class="form-group">
                                        <ng-select formControlName="universidades"
                                                    [items]="universidades"
                                                    bindLabel='universidad_name'
                                                    bindValue='id'
                                                    placeholder="Seleccionar Universidad">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4 my-3">
                                    <div class="form-group" *ngIf="ipt_cbx_diplomado">
                                        <ng-select formControlName="cbx_diplomado"
                                                    [items]="alldiplomados"
                                                    bindLabel='courses_name'
                                                    bindValue='courses_code'
                                                    placeholder="Seleccionar Diplomado"
                                                    (change)="diplomadoSelected($event)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-text bordes">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book img_svg" viewBox="0 0 16 16">
                                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                                </svg>
                                            </span>
                                            <input class="form-control bordes text-dark" type="text"
                                                formControlName="name_diplomado" placeholder="Ingrese Nombre Diplomado">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="form-group">
                                        <ng-select formControlName="sat"
                                                    [items]="sat"
                                                    bindLabel='nombres'
                                                    bindValue='id'
                                                    placeholder="Seleccionar SAT">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-2 col-lg-2">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-text bordes">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="img_svg bi bi-list-ol" viewBox="0 0 16 16">
                                                    <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5z"/>
                                                    <path d="M1.713 11.865v-.474H2c.217 0 .363-.137.363-.317 0-.185-.158-.31-.361-.31-.223 0-.367.152-.373.31h-.59c.016-.467.373-.787.986-.787.588-.002.954.291.957.703a.595.595 0 0 1-.492.594v.033a.615.615 0 0 1 .569.631c.003.533-.502.8-1.051.8-.656 0-1-.37-1.008-.794h.582c.008.178.186.306.422.309.254 0 .424-.145.422-.35-.002-.195-.155-.348-.414-.348h-.3zm-.004-4.699h-.604v-.035c0-.408.295-.844.958-.844.583 0 .96.326.96.756 0 .389-.257.617-.476.848l-.537.572v.03h1.054V9H1.143v-.395l.957-.99c.138-.142.293-.304.293-.508 0-.18-.147-.32-.342-.32a.33.33 0 0 0-.342.338v.041zM2.564 5h-.635V2.924h-.031l-.598.42v-.567l.629-.443h.635V5z"/>
                                                </svg>
                                            </span>
                                            <input class="form-control bordes text-dark" type="text"
                                                formControlName="vacantes" placeholder="Vacantes">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3 my-3">
                                    <div class="form-group">
                                        <textarea name="desc_general" class="form-control bordes text-dark" placeholder="Descripción General"
                                            formControlName="desc_general" id="desc_general" cols="30"
                                            rows="3">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3 my-3">
                                    <div class="form-group">
                                        <textarea name="desc_dirigido" class="form-control bordes text-dark" 
                                            placeholder="Dirigido" formControlName="dirigido" 
                                            id="desc_dirigido" cols="30" rows="3">
                                        </textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-3 col-lg-3 my-3">
                                    <div class="form-group">
                                        <textarea name="desc_certificacion" class="form-control bordes text-dark"
                                            placeholder="Certificacion" formControlName="certificacion"
                                            id="desc_certificacion" cols="30" rows="3">
                                        </textarea>
                                    </div>
                                </div>
                                <a href="javascript:void(0);" style="border: 1px solid black; border-radius: 10px" (click)="openModal()"
                                    class="d-flex justify-content-center align-items-center col-sm-12 col-md-3 col-lg-3 my-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cloud-upload" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4.406 1.342A5.53 5.53 0 0 1 8 0c2.69 0 4.923 2 5.166 4.579C14.758 4.804 16 6.137 16 7.773 16 9.569 14.502 11 12.687 11H10a.5.5 0 0 1 0-1h2.688C13.979 10 15 8.988 15 7.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 2.825 10.328 1 8 1a4.53 4.53 0 0 0-2.941 1.1c-.757.652-1.153 1.438-1.153 2.055v.448l-.445.049C2.064 4.805 1 5.952 1 7.318 1 8.785 2.23 10 3.781 10H6a.5.5 0 0 1 0 1H3.781C1.708 11 0 9.366 0 7.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383z"/>
                                        <path fill-rule="evenodd" d="M7.646 4.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V14.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                    </svg>
                                    <br>
                                    <h5>Subir</h5>                                                
                                </a>
                            </div>
                        </div>
                        <button class="btn btn-primary pull-right" [disabled]="!formDiplomado.valid" *ngIf="valid_images" 
                            (click)="PublishDiplomado()" awNextStep>
                            Siguiente
                        </button>
                        <!-- [disabled]="!formDiplomado.valid" -->
                    </form>
                </aw-wizard-step>
                <aw-wizard-step [navigationSymbol]="{ symbol: '2' }">
                    <ng-template awWizardStepTitle>
                        <p>Plan de Estudios</p>
                    </ng-template>
                    <div class="setup-content" id="step-2" *ngIf="is_modulos">
                        <app-plan-estudio [data_modulos]="modulos" (miEvento) = "saveModulos($event)"></app-plan-estudio>
                        <button class="btn btn-primary pull-right" [disabled]="valid_modulos" awNextStep (click)="guardarModulos()">Siguiente</button>
                        <button class="btn btn-danger pull-right mx-2" type="button" awPreviousStep>Volver</button>
                        <!-- <form [formGroup]="pagos" (ngSubmit)="finish()">
                            <div formArrayName="cuotas" *ngIf="pagos.value!=null">
                                <div class="row text-center my-4 text-uppercase">
                                    <div class="col-lg-1 col-md-1 col-sm-12">
                                        N°
                                    </div>
                                    <div class="col-lg-3 col-md-3 col-sm-12">
                                        Nombre
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Monto
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12">
                                        Fecha Vencimiento
                                    </div>
                                </div>
                                <hr>
                                <div *ngFor="let employee of cuotas().controls; let empIndex=index; let i of index">
                                    <div [formGroupName]="empIndex" class="row my-2">
                                        <div class="text-center col-lg-1 col-md-1 col-sm-12">
                                            {{empIndex+1}}
                                        </div>
                                        <div class="text-uppercase col-lg-4 col-md-4 col-sm-12" >
                                            {{i['name']}}
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                <span class="input-group-text img_svg bordes">
                                                    S/
                                                </span>
                                                    <input class="form-control bordes text-dark" type="number"
                                                            formControlName="monto_pagar" placeholder="Ingrese Monto">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-12">
                                            <div class="form-group">
                                                <input class="form-control bordes text-dark" type="date" placeholder=""
                                                        formControlName="fecha_vencimiento">
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <button class="btn btn-primary pull-right" awNextStep>Next</button>
                            <button class="btn btn-secondary pull-right mr-1" type="button" awPreviousStep>Previous</button>
                        </form> -->
                    </div>
                </aw-wizard-step>
                <aw-wizard-step [navigationSymbol]="{ symbol: '3' }">
                    <ng-template awWizardStepTitle>
                        <p>Ventas</p>
                    </ng-template>
                    <div class="setup-content" id="step-3" *ngIf="is_ventas">
                        <app-ventas (miEvento) = "savePagos($event)" [data_ventas]="data_ventas"></app-ventas>
                        <button class="btn btn-primary pull-right" [disabled]="valid_pagos" (click)="guardarPagos()" awNextStep>Finalizar</button>
                        <button class="btn btn-danger pull-right mx-2" type="button" (click)="ventas()" awPreviousStep>Volver</button>
                    </div>
                </aw-wizard-step>
            </aw-wizard>
        </form>
        <div class="col-sm-12 col-md-12 col-lg-12 text-center">
            <hr>
            <button class="btn btn-dark text-white" routerLink="/academico/diplomados">
                <i class="bi bi-house-door"></i>
                Regresar
            </button>
        </div>
    </div>
</div>
<!-- Empieza modal control-->
<ng-template #diplo let-modal>
    <div class="row container">
        <div class="col-lg-12 col-md-12 col-sm-12"><br></div>
        <div class="col-lg-2 col-md-2 col-sm-12"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 text-center" role="alert">
            <div class="alert alert-primary nuevo">
                <b>Subir Archivos</b>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12"></div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <b>1920x500</b>
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect1920x500($event)">
              <ngx-dropzone-label class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                </svg>
                <br>
                <label>Seleccione archivo para subir</label>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngFor="let f of url_img_1920x500" [file]="f" style="width: 100%;"
                [removable]="true" (removed)="onRemove1920x500(f)" class="text-center">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <b>1920x700</b>
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect1920x700($event)">
              <ngx-dropzone-label class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                </svg>
                <br>
                <label>Seleccione archivo para subir</label>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngFor="let f of url_img_1920x700" [file]="f" style="width: 100%;"
                [removable]="true" (removed)="onRemove1920x700(f)" class="text-center">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12">
            <b>1200x630</b>
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect1200x630($event)">
              <ngx-dropzone-label class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                </svg>
                <br>
                <label>Seleccione archivo para subir</label>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngFor="let f of url_img_1200x630" [file]="f" style="width: 100%;"
                [removable]="true" (removed)="onRemove1200x630(f)" class="text-center">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
            <b>750x500</b>
            <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect750x500($event)">
              <ngx-dropzone-label class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
                    <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2h-12zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1h12z"/>
                </svg>
                <br>
                <label>Seleccione archivo para subir</label>
              </ngx-dropzone-label>
              <ngx-dropzone-image-preview *ngFor="let f of url_img_750x500" [file]="f" style="width: 100%;"
                [removable]="true" (removed)="onRemove750x500(f)" class="text-center">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
              </ngx-dropzone-image-preview>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <b>Brochure</b>
            <input class="form-control" type="file" accept="image/*, application/pdf" (change)="onSelectbrochure($event)" multiple>
            <ol class="list-group list-group-numbered" *ngIf="url_img_brochure.length>0">
                <li class="list-group-item d-flex justify-content-between align-items-start" *ngFor="let item of url_img_brochure,let i= index">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">{{item.name}}</div>
                </div>
                <a class="text-danger" href="javascript:void(0);" (click)="onRemovebrochure(i)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                    </svg>
                </a>
                </li>
            </ol>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn ripple btn-primary" (click)="subirImagenes()">Aceptar</button>
        <button type="button" class="btn ripple btn-danger mx-3" *ngIf="valid_images" (click)="closeModal()">Cerrar</button>
    </div>
</ng-template>
<!-- SPINNER -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "triangle-skew-spin">
</ngx-spinner>