<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Mis Pagos</h5>
            <p class="text-secondary">Próximamente</p>
            <!-- <p class="text-secondary">Pago de diplomados.</p> -->
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <img src="https://web-altux-files.s3.amazonaws.com/infinity/proximamente..png" 
            alt="" style="width: 100%;">
    </div>
</div>