<!-- page title bar -->
<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Mis Pagos</h5>
            <p class="text-secondary">Próximamente</p>
            <!-- <p class="text-secondary">Pago de diplomados.</p> -->
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-5 col-md-5 col-sm-12 mb-4">
        <swiper [slidesPerView]="'auto'" [centeredSlides]="true" [pagination]="false" (slideChange)="changeSlide($event)">
            <ng-template swiperSlide *ngFor="let courses of courses, let i = index">
                <div class="card border-0" style="margin: 1% 1% 1% 1%;">
                    <div class="row mx-0">
                        <div class="col-6 pe-0 bg-theme text-white half-circle-vertical py-4 z-index-1" style="border-radius: 7px;">
                            <div class="position-relative">
                                <h4 class="mb-0">{{courses.course.courses_name}}</h4>
                                <p>Diplomado</p>
                                <p class="text-muted small">Buy more, Get more</p>
                            </div>
                        </div>
                        <div class="col-6 position-relative">
                            <figure class="coverimg position-absolute w-100 h-100 start-0 top-0 m-0" style="background-image: url('{{courses.course.detail.other_description.url_img_banner_main}}');border-radius: 7px;">
                                <img src="{{courses.course.detail.other_description.url_img_banner_main}}" class="mw-100" alt="" style="display: none;">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row mt-3" style="margin: 1% 1% 1% 1%;">
                    <div class="col">
                        <div class="progress h-5 mb-2 bg-light-theme">
                            <div class="progress-bar bg-theme" role="progressbar" [style.width.%]="courses.porcentaje.toFixed(2)"
                            aria-valuenow="courses.porcentaje.toFixed(2)" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="small text-secondary">Estado Diplomado <span class="float-end">{{courses.porcentaje.toFixed(2)}}%</span></p>
                    </div>
                </div>
            </ng-template>
            <!-- <ng-template swiperSlide>
                <div class="card border-0 theme-pink mb-2">
                    <div class="card-body">
                        <div class="row align-items-center mb-4">
                            <div class="col-auto align-self-center">
                                <img src="assets/img/visa.png" alt="">
                            </div>
                            <div class="col text-end">
                                <p class="size-12">
                                    <span class="text-muted small">City Bank</span><br>
                                    <span class="">Credit Card</span>
                                </p>
                            </div>
                        </div>
                        <p class="fw-medium h6 mb-3">
                            000 0000 0001 546598
                        </p>
                        <div class="row">
                            <div class="col-auto size-12">
                                <p class="mb-0 text-muted small">Expiry</p>
                                <p>09/023</p>
                            </div>
                            <div class="col text-end size-12">
                                <p class="mb-0 text-muted small">Card Holder</p>
                                <p>Maxartkiller</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row amount-data">
                    <div class="col">
                        <p class="text-secondary small mb-1">Expense</p>
                        <p>3650.00 <small class="text-danger">11.0% <i class="bi bi-arrow-down"></i></small></p>
                    </div>
                    <div class="col-auto text-end">
                        <p class="text-secondary small mb-1">Limit Remain</p>
                        <p>35500.00</p>
                    </div>
                </div>
            </ng-template>
            <ng-template swiperSlide>
                <div class="card border-0 theme-yellow mb-2">
                    <div class="card-body">
                        <div class="row align-items-center mb-4">
                            <div class="col-auto align-self-center">
                                <img src="assets/img/visa.png" alt="">
                            </div>
                            <div class="col text-end">
                                <p class="size-12">
                                    <span class="text-muted small">City Bank</span><br>
                                    <span class="">Credit Card</span>
                                </p>
                            </div>
                        </div>
                        <p class="fw-medium h6 mb-3">
                            000 0000 0001 546598
                        </p>
                        <div class="row">
                            <div class="col-auto size-12">
                                <p class="mb-0 text-muted small">Expiry</p>
                                <p>09/023</p>
                            </div>
                            <div class="col text-end size-12">
                                <p class="mb-0 text-muted small">Card Holder</p>
                                <p>Maxartkiller</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row amount-data">
                    <div class="col">
                        <p class="text-secondary small mb-1">Expense</p>
                        <p>1500.00 <small class="text-success">18.0 <i class="bi bi-arrow-up"></i></small></p>
                    </div>
                    <div class="col-auto text-end">
                        <p class="text-secondary small mb-1">Limit Remain</p>
                        <p>13500.00</p>
                    </div>
                </div>
            </ng-template> -->
        </swiper>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card border-0 mb-4">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="small mb-1"><b>Pago Pendiente del Mes</b></p>
                        <h5 class="fw-medium text-orange">S/ 150.00</h5>
                        <span class="badge rounded-pill bg-dark text-capitalize">S/ Pagar</span>
                        <span class="badge rounded-pill bg-danger text-capitalize mx-2">> Mensualidad 3</span>
                    </div>
                    <div class="col-auto">
                        <p class="calendar">
                            <em class="text-capitalize">
                                Febrero
                            </em>30
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card border-0 mb-4">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="small mb-1"><b>Pago Adelantado Total</b></p>
                        <div class="d-flex">
                            <h5 class="fw-medium text-orange">S/ 600.00</h5>
                            <small class="mx-2 text-secondary"> <b style="text-decoration-line: line-through;">S/ 750.00</b> - 20%</small>
                        </div>
                        <span class="badge rounded-pill bg-dark text-capitalize">S/ Pagar</span>
                        <span class="badge rounded-pill bg-danger text-capitalize mx-2">> Mensualidad 3,4,5,6,7</span>
                    </div>
                    <div class="col-auto text-warning">
                        <i class="bi bi-send-plus" style="font-size: 62px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card border-0 mb-4">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="small mb-1"><b>Pago Adelantado Total</b></p>
                        <div class="d-flex">
                            <h5 class="fw-medium text-orange">S/ 600.00</h5>
                            <small class="mx-2 text-secondary"> <b style="text-decoration-line: line-through;">S/ 750.00</b> - 20%</small>
                        </div>
                        <span class="badge rounded-pill bg-dark text-capitalize">S/ Pagar</span>
                        <span class="badge rounded-pill bg-danger text-capitalize mx-2">> Mensualidad 3,4,5,6,7</span>
                    </div>
                    <div class="col-auto text-warning">
                        <i class="bi bi-send-plus" style="font-size: 62px;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card border-0 mb-4">
    <div class="card-header">
        <div class="row">
            <div class="col-auto">
                <i class="bi bi-shop h5 avatar avatar-40 bg-light-theme rounded"></i>
            </div>
            <div class="col-auto align-self-center">
                <h6 class="d-inline-block mb-0">Historial de Pagos</h6>
                <p class="text-secondary small">Todos los pagos del diplomado</p>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-4 col-xxl-3">
            </div>
            <div class="col-auto ms-auto">
                <div class="input-group border">
                    <span class="input-group-text text-theme"><i class="bi bi-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table footable" data-show-toggle="true">
            <thead>
                <tr class="text-muted">
                    <th class="w-12"></th>
                    <th class="">ID</th>
                    <th>Raised By</th>
                    <th data-breakpoints="xs sm">Contact Details</th>
                    <th data-breakpoints="xs sm">Assigned To</th>
                    <th data-breakpoints="xs">Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                    <td>2054ID</td>
                    <td>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-1.jpg');">
                                    <img src="assets/img/user-1.jpg" alt="" class="d-none" name="userimage" />
                                </figure>
                            </div>
                            <div class="col ps-0">
                                <p class="mb-0">David Warner</p>
                                <p class="text-secondary small">United Kingdom</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0">david@sales..core.com</p>
                        <p class="text-secondary small">+44 8466585****1154</p>
                    </td>
                    <td>
                        <p class="mb-0">Jr. Sing</p>
                        <p class="text-secondary small">Technical Helpdesk</p>
                    </td>
                    <td>
                        <span class="badge badge-sm bg-yellow">Pending</span>
                    </td>
                    <td>
                        <div class="dropdown d-inline-block">
                            <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>105ID</td>
                    <td>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-2.jpg');">
                                    <img src="assets/img/user-2.jpg" alt="" class="d-none" />
                                </figure>
                            </div>
                            <div class="col ps-0">
                                <p class="mb-0">Winnie John</p>
                                <p class="text-secondary small">Australia</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0">winnie@sales..core.com</p>
                        <p class="text-secondary small">+44 8466585****1154</p>
                    </td>
                    <td>
                        <p class="mb-0">Brett Lee</p>
                        <p class="text-secondary small">Assi. Server Expert</p>
                    </td>
                    <td>
                        <span class="badge badge-sm bg-blue">Waiting</span>
                    </td>
                    <td>
                        <div class="dropdown d-inline-block">
                            <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>058ID</td>
                    <td>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-3.jpg');">
                                    <img src="assets/img/user-3.jpg" alt="" class="d-none" />
                                </figure>
                            </div>
                            <div class="col ps-0">
                                <p class="mb-0">Alicia Smith</p>
                                <p class="text-secondary small">United States</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0">alicia@sales..core.com</p>
                        <p class="text-secondary small">+44 8466585****1154</p>
                    </td>
                    <td>
                        <p class="mb-0">Gal Seddist</p>
                        <p class="text-secondary small">Finance Head</p>
                    </td>
                    <td>
                        <span class="badge badge-sm bg-green">Complete</span>
                    </td>
                    <td>
                        <div class="dropdown d-inline-block">
                            <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>500ID</td>
                    <td>
                        <div class="row align-items-center">
                            <div class="col-auto">
                                <figure class="avatar avatar-50 mb-0 coverimg rounded-circle" style="background-image: url('assets/img/user-4.jpg');">
                                    <img src="assets/img/user-4.jpg" alt="" class="d-none" />
                                </figure>
                            </div>
                            <div class="col ps-0">
                                <p class="mb-0">Jr. Chen Li</p>
                                <p class="text-secondary small">United Kingdom</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <p class="mb-0">cheli@sales..core.com</p>
                        <p class="text-secondary small">+44 8466585****1154</p>
                    </td>
                    <td>
                        <p class="mb-0">Tech Guruji</p>
                        <p class="text-secondary small">Product Manager</p>
                    </td>
                    <td>
                        <span class="badge badge-sm bg-red">Rejected</span>
                    </td>
                    <td>
                        <div class="dropdown d-inline-block">
                            <a class="text-secondary dd-arrow-none" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" role="button">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="javascript:void(0)">Edit</a></li>
                                <li><a class="dropdown-item" href="javascript:void(0)">Move</a></li>
                                <li><a class="dropdown-item text-danger" href="javascript:void(0)">Delete</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h5>Historial de Pagos</h5>
                <hr>
                <div class="table-responsive invoice-table" id="table">
                    <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                        <tr>
                            <th class="text-center"><small>Concepto</small></th>
                            <th class="text-center"><small>Importe</small></th>
                            <th class="text-center"><small>F. Vencimiento</small></th>
                            <th class="text-center"><small>Estado</small></th>
                            <th class="text-center"><small>Pago</small></th>
                            <th class="text-center"><small>Comprobante</small></th>
                            <th class="text-center"><small>F. Pago</small></th>
                            <th class="text-center"><small>Método Pago</small></th>
                            <th class="text-center"><small>Promoción</small></th>
                            <th class="text-center"><small>Saldo</small></th>
                            <th class="text-center"><small></small></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let valalumnos of pagos, index as id">
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                            <!-- <td class="text-center"><small><a href="javascript:void(0);">
                                <span class="badge rounded-pill bg-danger text-capitalize">{{valalumnos.fecha_pago_pendiente}}</span></a></small>
                            </td> -->
                            <!-- <td class="text-center"><small>{{valalumnos.recordatorio*1000 | date:'dd/MM/yyyy'}}</small></td> -->
                            <td class="text-center">
                                <a href="javascript:void(0);" class="" data-bs-toggle="tooltip" data-bs-placement="right" title="Generar Código de Pago"
                                    (click)="openModalPay(valalumnos)">
                                    <i class="bi bi-cash-stack"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>