<div class="container-fluid">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">Biblioteca</h5>
            <p class="text-secondary">Próximamente</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <img src="https://web-altux-files.s3.amazonaws.com/infinity/proximamente..png" 
            alt="" style="width: 100%;">
    </div>
</div>

<!-- <div class="container-fluid mt-4 px-0">
    <div class="row mb-4 py-2">
        <div class="col text-center">
            <h4>Better you manage space, <span class="text-gradient">Awesome things</span> you will get soon</h4>
            <p class="text-secondary">Files Management and all possible are on demand in digital age transformation.</p>
        </div>
    </div>
    <div class="border-bottom border-top mb-4">
        <ul class="nav nav-iconbar border-bottom py-2">
            <li class="nav-item">
                <button class="btn btn-link border-0 innersidebar-btn" (click)="innermenuopen()"><i class="bi bi-layout-sidebar h5 vm"></i></button>
            </li>
            <li class="nav-item d-none d-md-block">
                <div class="input-group input-group-md w-100">
                    <input type="text" class="form-control" placeholder="Buscar archivo... " value="">
                    <div class="input-group-text rounded px-0">
                        <button class="btn btn-sm btn-link" type="button">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>
            </li>
        </ul>
        <div class="inner-sidebar-wrap">
            <div class="inner-sidebar">
                <ul class="nav nav-pills mb-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page">
                            <div class="avatar avatar-40 icon"><i class="bi bi-clock-history"></i></div>
                            <div class="col">Recientes</div>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-auto-close="false" data-bs-display="static" role="button" aria-expanded="false">
                            <div class="avatar avatar-40 icon"><i class="bi bi-folder"></i></div>
                            <div class="col">Categorías</div>
                            <div class="arrow"><i class="bi bi-chevron-down plus"></i> <i class="bi bi-chevron-up minus"></i>
                            </div>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item nav-link">
                                    <div class="avatar avatar-40 icon"><i class="bi bi-folder"></i>
                                    </div>
                                    <div class="col align-self-center">Webspace</div>
                                    <div class="col-auto align-items-center">
                                        <figure class="avatar avatar-24 bg-light-theme rounded-circle">
                                            <small class="fs-10 vm">+5</small>
                                        </figure>
                                    </div>
                                    <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item nav-link">
                                    <div class="avatar avatar-40 icon"><i class="bi bi-folder"></i>
                                    </div>
                                    <div class="col align-self-center">Server</div>
                                    <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item nav-link">
                                    <div class="avatar avatar-40 icon"><i class="bi bi-folder"></i>
                                    </div>
                                    <div class="col align-self-center">SSD</div>
                                    <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item nav-link">
                                    <div class="avatar avatar-40 icon"><i class="bi bi-folder"></i>
                                    </div>
                                    <div class="col align-self-center">Pen Drive</div>
                                    <div class="arrow"><i class="bi bi-chevron-right"></i></div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page">
                            <div class="avatar avatar-40 icon"><i class="bi bi-heart"></i></div>
                            <div class="col">Favoritos</div>
                        </a>
                    </li>
                </ul>
                <div class="row mx-0 mb-4 border-top pt-4">
                    <div class="col-12">
                        <div class="row mb-3">
                            <div class="col-auto">
                                <div class="rounded bg-theme text-white p-2 text-center">
                                    <i class="bi bi-book h4"></i>
                                    <p class="small">Libros</p>
                                </div>
                            </div>
                            <div class="col align-self-center">
                                <h6>Almacenamiento</h6>
                                <div class="mt-2">
                                    <div class="progress h-5 mb-1 bg-light-theme">
                                        <div class="progress-bar bg-theme w-50" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                </div>
                                <p class="small text-secondary">5.4GB de 6GB</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-sidebar-content p-3">
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <i class="bi bi-folder h5 avatar avatar-40 bg-light-theme rounded"></i>
                    </div>
                    <div class="col">
                        <h6 class="fw-medium mb-0">Folders</h6>
                        <p class="small text-secondary">Recently viewed by <a>Alliana Smith</a></p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-link text-secondary">Recently Updated <i class="bi bi-arrow-down"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <a class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar avatar-30 rounded text-theme mr-3">
                                            <i class="bi bi-folder-fill h5 vm"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">William's School</p>
                                        <p class="small text-secondary">18 Files</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <a class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar avatar-30 rounded text-theme mr-3">
                                            <i class="bi bi-folder-fill h5 vm"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">Music Audition</p>
                                        <p class="small text-secondary">3 Files</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <a class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar avatar-30 rounded text-theme mr-3">
                                            <i class="bi bi-folder-fill h5 vm"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">Housing Papers</p>
                                        <p class="small text-secondary">6 Files</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <a class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar avatar-30 rounded text-theme mr-3">
                                            <i class="bi bi-folder-fill h5 vm"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">Lisa's Tuition</p>
                                        <p class="small text-secondary">4 Files</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <a class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar avatar-30 rounded text-theme mr-3">
                                            <i class="bi bi-folder-fill h5 vm"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">Bills Housing</p>
                                        <p class="small text-secondary">8 Files</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <a class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar avatar-30 rounded text-theme mr-3">
                                            <i class="bi bi-folder-fill h5 vm"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">Trip Photos</p>
                                        <div class="row">
                                            <div class="col">
                                                <p class="small text-secondary">16 Files</p>
                                            </div>
                                            <div class="col-auto small"><i class="bi bi-share"></i> Shared</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <a class="card shadow-sm border-0">
                            <div class="card-body">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <div class="avatar avatar-30 rounded text-theme mr-3">
                                            <i class="bi bi-folder-fill h5 vm"></i>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <p class="mb-0">Money Presentation</p>
                                        <p class="small text-secondary">10 Files</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row align-items-center mb-3">
                    <div class="col-auto">
                        <i class="bi bi-file-earmark-richtext h5 avatar avatar-40 bg-light-green text-green rounded"></i>
                    </div>
                    <div class="col">
                        <h6 class="fw-medium mb-0">Files</h6>
                        <p class="small text-secondary">Recently added by <a>Yaan Lee</a></p>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-link text-secondary">Recently Modified <i class="bi bi-arrow-down"></i></button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <div class="card border-0 overflow-hidden">
                            <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/business-5.jpg');">
                                <img src="assets/img/business-5.jpg" class="mw-100" alt="" style="display: none;" />
                            </div>
                            <div class="card-footer bg-none">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <a href="javascript:void(0)" class="avatar avatar-30 rounded text-red mr-3">
                                            <i class="bi bi-file-earmark-pdf h5 vm"></i>
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <p class="mb-0">Construction-portal.pdf</p>
                                        <p class="small text-secondary">28/02/2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <div class="card border-0 overflow-hidden">
                            <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/news-6.jpg');">
                                <img src="assets/img/news-6.jpg" class="mw-100" alt="" style="display: none;" />
                            </div>
                            <div class="card-footer bg-none">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <a href="javascript:void(0)" class="avatar avatar-30 rounded text-red mr-3">
                                            <i class="bi bi-file-earmark-pdf h5 vm"></i>
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <p class="mb-0">networking.pdf</p>
                                        <p class="small text-secondary">28/02/2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <div class="card border-0 overflow-hidden">
                            <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/news-3.jpg');">
                                <img src="assets/img/news-3.jpg" class="mw-100" alt="" style="display: none;" />
                            </div>
                            <div class="card-footer bg-none">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <a href="javascript:void(0)" class="avatar avatar-30 rounded text-red mr-3">
                                            <i class="bi bi-file-earmark-pdf h5 vm"></i>
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <p class="mb-0">savemoremoney.pdf</p>
                                        <p class="small text-secondary">28/02/2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-6 col-xl-3 mb-4">
                        <div class="card border-0 overflow-hidden">
                            <div class="h-150 w-100 coverimg" style="background-image: url('assets/img/news-4.jpg');">
                                <img src="assets/img/news-4.jpg" class="mw-100" alt="" style="display: none;" />
                            </div>
                            <div class="card-footer bg-none">
                                <div class="row gx-3 align-items-center">
                                    <div class="col-auto">
                                        <a href="javascript:void(0)" class="avatar avatar-30 rounded text-red mr-3">
                                            <i class="bi bi-file-earmark-pdf h5 vm"></i>
                                        </a>
                                    </div>
                                    <div class="col-auto">
                                        <p class="mb-0">Kitchen_colors_defination.jpg</p>
                                        <p class="small text-secondary">28/02/2022</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->