<div class="row h-100">
    <!-- left block-->
    <div class="col-12 col-md-6 h-100 overflow-y-auto">
        <div class="row h-100">
            <div class="col-12 mb-auto">
                <!-- header -->
                <app-auth-header class="header d-block"></app-auth-header>
                <!-- header ends -->
            </div>
            <div class="col-12 align-self-center py-4">
                <div class="row justify-content-center">
                    <div class="col-12 col-md-11 col-lg-10 col-xl-8 col-xxl-6">
                        <p class="mb-4">
                            <a (click)="goback()" class="text-theme"><i class="bi bi-arrow-left"></i> Volver</a>
                        </p>
                        <p class="h4 fw-light mb-4">Ingrese su Contraseña</p>
                        <p class="text-secondary small mb-4">Hemos encontrado un usuario que ya está registrado con nosotros. Por favor ingrese su contraseña para continuar.</p>

                        <form [formGroup]="formPasswd" class="mb-4">
                            <!-- alert messages -->
                            <div class="alert alert-danger fade show mb-2 global-danger" role="alert" *ngIf="isShowAlert=='danger'">
                                <div class="row">
                                    <div class="col">
                                        <div class="col"><strong>Requerido</strong> Por favor ingrese una constraseña válida!.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="alert alert-success fade show mb-2 global-success" role="alert" *ngIf="isShowAlert=='success'">
                                <div class="row">
                                    <div class="col-auto align-self-center">
                                        <div class="spinner-border spinner-border-sm text-success me-2" role="status">
                                            <span class="visually-hidden">Cargando...</span>
                                        </div>
                                    </div>
                                    <div class="col ps-0">
                                        <strong>Genial!</strong> Llevándote a tu destino.
                                    </div>
                                </div>
                            </div>
                            <!-- Form elements -->
                            <div class="form-group mb-2 position-relative check-valid">
                                <div class="input-group input-group-lg">
                                    <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-key"></i></span>
                                    <div class="form-floating">
                                        <input [type]="showpass ? 'text' : 'password'" placeholder="Ingrese Contraseña" formControlName="password"
                                            required class="form-control border-start-0" autofocus>
                                        <label for="floatingInput">Contraseña</label>
                                    </div>
                                    <span class="input-group-text text-secondary bg-white border-end-0" id="viewpassword" (click)="viewpassword()"><i class="bi bi-eye" *ngIf="!showpass"></i> <i class="bi bi-eye-slash" *ngIf="showpass"></i></span>
                                    <!-- submit button -->
                                    <button class="btn btn-lg btn-theme top-0 end-0 z-index-5 btn-square-lg" type="button" id="submitpassbtn" (click)="submitPassword()"><i class="bi bi-arrow-right"></i></button>
                                </div>
                            </div>
                            <div class="invalid-feedback">Enter valid password and just click again to continue </div>
                        </form>
                        <p class="text-secondary small mb-4">Si olvidaste tu contraseña, <br>¡Puedes <b>restablecerla</b> haciendo <a routerLink="/auth/forgot-password" class="text-primary"> click aquí!</a></p>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-auto">
                <!-- footer -->
                <app-auth-footer class="footer row"></app-auth-footer>
                <!-- footer ends -->
            </div>
        </div>
    </div>

    <!-- right block-->
    <div class="col-12 col-md-6 vh-100">
        <app-authright></app-authright>
    </div>
</div>