<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="table-responsive invoice-table" id="table">
            <table class="table table-bordered" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                <tr>
                    <th class="text-center"><small>Nº</small></th>
                    <th><small>Nombres y Apellidos</small></th>
                    <th class="text-center"><small>DNI</small></th>
                    <th class="text-center"><small>Celular</small></th>
                    <th class="text-center"><small>Diplomado</small></th>
                    <th class="text-center" style="background-color: rgba(62, 235, 88, 0.736);"><small>Matrícula</small></th>
                    <th class="text-center" style="background-color: rgba(62, 235, 88, 0.736);"><small>Descuento</small></th>
                    <th class="text-center" style="background-color: rgba(62, 235, 88, 0.736);"><small>Pago Matrícula</small></th>
                    <th class="text-center" style="background-color: rgba(62, 235, 88, 0.736);"><small>Fecha Pago</small></th>
                    <th class="text-center" style="background-color: rgba(235, 62, 62, 0.736);"><small>Cuota 1</small></th>
                    <th class="text-center" style="background-color: rgba(235, 62, 62, 0.736);"><small>Estado</small></th>
                    <th class="text-center"><small>Fecha Pago</small></th>
                    <th class="text-center"><small>Acciones</small></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let valalumnos of matriculas, index as id">
                    <td class="text-center"><small>{{id+1}}</small></td>
                    <td><small>{{valalumnos.nombres}} {{valalumnos.apellidos}}</small></td>
                    <td class="text-center"><small>{{valalumnos.dni}}</small></td>
                    <td class="text-center"><small><a href="https://wa.me/51{{valalumnos.celular}}" target="_blank">{{valalumnos.celular}}</a></small></td>
                    <td class="text-center"><small>{{valalumnos.diplomado_name}}</small></td>
                    <td class="text-center"><small>S/ {{(+valalumnos.matricula).toFixed(2)}}</small></td>
                    <td class="text-center"><small>S/ {{(+valalumnos.descuento).toFixed(2)}}</small></td>
                    <td class="text-center"><small>S/ {{(+valalumnos.pago_matricula).toFixed(2)}}</small></td>
                    <td class="text-center"><small>{{valalumnos.fecha_pago | date:'dd/MM/yyyy' }}</small></td>
                    <td class="text-center"><small>S/ {{(+valalumnos.cuota_1).toFixed(2)}}</small></td>
                    <td class="text-center"><small><a href="javascript:void(0);">
                        <span class="badge rounded-pill bg-danger text-capitalize">{{valalumnos.fecha_pago_pendiente}}</span></a></small>
                    </td>
                    <td class="text-center"><small>{{valalumnos.recordatorio*1000 | date:'dd/MM/yyyy'}}</small></td>
                    <td class="text-center">
                        <a href="javascript:void(0);" class="" data-bs-toggle="tooltip" data-bs-placement="right" title="Generar Código de Pago"
                            (click)="openModalPay(valalumnos)">
                            <i class="bi bi-cash-stack"></i>
                        </a>
                        <a href="javascript:void(0);" class="mx-2" data-bs-toggle="tooltip" data-bs-placement="right"
                            title="Actualizar Fecha 2 Pago" (click)="openModalDate(valalumnos)">
                            <i class="bi bi-calendar-week"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Empieza modal reserva-->
<ng-template #pay let-modal>
    <form [formGroup]="formGenerate" class="card border-0 border-left-5 border-theme bg-gradient-theme-light">
        <div class="card-header">
            <h5 class="mb-1 title">GENERAR CÓDIGO DE PAGO</h5>
        </div>
        <div class="card-body modal-body">
            <div class="row was-validated">
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                    <div class="form-group">
                        <label class="form-label">
                            <span class="text-theme mx-2"><i class="bi bi-book"></i></span>
                            <b>Diplomado:</b>
                        </label>
                        <p class="sub_info">{{data_detalle.diplomado_name}}</p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                    <div class="form-group">
                        <label class="form-label">
                            <span class="text-theme mx-2"><i class="bi bi-person"></i></span>
                            <b>Cliente:</b>
                        </label>
                        <p class="sub_info">{{data_detalle.nombres}} {{data_detalle.apellidos}}</p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                    <div class="form-group">
                        <label class="form-label">
                            <span class="text-theme mx-2"><i class="bi bi-person"></i></span>
                            <b>Tipo Matrícula:</b>
                        </label>
                        <p class="sub_info">Primera Cuota</p>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-lg-12 mb-3">
                    <div class="form-group form-check form-switch my-2">
                        <input class="form-check-input" (change)="optionFacture($event)" type="checkbox" formControlName="is_factura">
                        <label>
                            Solicitar Factura
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3" *ngIf="mostrarSelect">
                    <div class="form-group mb-2 position-relative">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-person-badge"></i></span>
                            <div class="form-floating">
                                <input placeholder="" formControlName="ruc" class="form-control border-start-0" autocomplete="off" maxlength="11"
                                onkeyup="if (/\D/g.test(this.value)) this.value = this.value.replace(/\D/g,'')" (keyup)="getInfoByRuc($event)" required>
                                <label for="floatingInput">Ingrese Nº RUC</label>
                            </div>
                        </div>
                        <div *ngIf="nameruc" class="text-center text-uppercase" style="border-radius: 5px; background: #2a5390">
                            <small><b>{{nameruc}}</b></small>
                        </div>
                        <div *ngIf="formGenerate.controls['ruc'].invalid && (formGenerate.controls['ruc'].dirty || formGenerate.controls['ruc'].touched)" >
                            <div *ngIf="formGenerate.controls['ruc'].errors.required">
                                <small class="text-danger">Por favor ingrese su número de RUC</small>
                            </div>
                            <div *ngIf="formGenerate.controls['ruc'].errors.maxlength">
                                <small class="text-danger">Excediste el número máximo de caracteres</small>
                            </div>
                            <div *ngIf="formGenerate.controls['ruc'].errors.minlength">
                                <small class="text-danger">Debe contener como mínimo 11 caracteres</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-sm btn-theme" (click)="generatePay()" [disabled]="!formGenerate.valid">Generar Pago</button>
                    <button class="btn btn-sm btn-danger text-light mx-3" (click)="closeModalPay()">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>
<!--Modal Pago-->
<ng-template #pago let-modal>
    <div class="modal-header">
        <img src="https://web-altux-files.s3.amazonaws.com/LOGO_ALTUX_WEB.png" alt="" style="width: 25% !important;">
        <button type="button" class="btn-close pull-right" style="color: black" aria-label="Close" (click)="closeModalPago()"></button>
    </div>
    <app-form-pay [generate]="_generate"></app-form-pay>
</ng-template>
<!-- Empieza modal fecha-->
<ng-template #date let-modal>
    <form [formGroup]="formDate" class="card border-0 border-left-5 border-theme bg-gradient-theme-light">
        <div class="card-header">
            <h5 class="mb-1 title">REPROGRAMAR FECHA</h5>
        </div>
        <div class="card-body modal-body">
            <div class="row was-validated">
                <div class="col-sm-12 col-md-12 col-lg-12 mb-3">
                    <div class="form-group mb-2 position-relative">
                        <div class="input-group input-group-lg">
                            <span class="input-group-text text-theme bg-white border-end-0"><i class="bi bi-calendar"></i></span>
                            <div class="form-floating">
                                <input placeholder="" type="date" formControlName="fecha" class="form-control border-start-0" autocomplete="off" required>
                                <label for="floatingInput">Ingrese Fecha</label>
                            </div>
                        </div>
                        <div *ngIf="nameruc" class="text-center text-uppercase" style="border-radius: 5px; background: #2a5390">
                            <small><b>{{nameruc}}</b></small>
                        </div>
                        <div *ngIf="formGenerate.controls['ruc'].invalid && (formGenerate.controls['ruc'].dirty || formGenerate.controls['ruc'].touched)" >
                            <div *ngIf="formGenerate.controls['ruc'].errors.required">
                                <small class="text-danger">Por favor ingrese fecha</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-sm btn-theme" (click)="actDatePago()" [disabled]="!formDate.valid">Reprogramar</button>
                    <button class="btn btn-sm btn-danger text-light mx-3" (click)="closeModalDate()">Cerrar</button>
                </div>
            </div>
        </div>
    </form>
</ng-template>
<!-- SPINNER -->
<ngx-spinner type="timer"></ngx-spinner>