<div class="card-body py-3">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-end mb-3">
            <p class="text-secondary small">
                <span class="badge badge-sm bg-blue">Información Enviada</span>
                <span class="badge badge-sm bg-orange mx-2">No Contesta</span>
                <span class="badge badge-sm bg-red">No Interesado</span>
                <span class="badge badge-sm bg-black mx-2">Próximo Grupo</span>
                <span class="badge badge-sm bg-green">Compromiso Matrícula</span>
            </p>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" style="overflow: auto;">
            <ng-template #idTpl let-rowIndex="rowIndex" let-row="row">
                {{rowIndex+1}}
            </ng-template>
            <ng-template #is_tipo let-data="adtData" let-emitter="captureEvents">
              <p>
                {{data.estado.nombre}}
              </p>
            </ng-template>
            <ng-template #is_categoria let-data="adtData" let-emitter="captureEvents">
                <p class="d-flex">
                    <b *ngFor="let valData of data.historial_seguimiento.data" class="mx-1">
                        <i class="bi bi-info-circle text-info rounded" *ngIf="valData.tipo_seguimiento=='informacion'"></i>
                        <i class="bi bi-person-dash text-danger rounded mx-1" *ngIf="valData.tipo_seguimiento=='no_interesado'"></i>
                        <i class="bi bi-telephone-x text-warning rounded" *ngIf="valData.tipo_seguimiento=='no_contesta'"></i>
                        <i class="bi bi-person-workspace text-dark rounded mx-1" *ngIf="valData.tipo_seguimiento=='proximo_grupo'"></i>
                        <i class="bi bi-cash-coin text-success rounded" *ngIf="valData.tipo_seguimiento=='compromiso_pago'"></i>
                    </b>
                    <b *ngIf="data.historial_seguimiento.data.length==0">
                        Sin Registro
                    </b>
                </p>
            </ng-template>
            <ng-template #is_celular let-data="adtData" let-emitter="captureEvents">
                <a href="https://wa.me/51{{data.telefono}}" target="_blank" class="">
                    <p class="mb-0">{{data.telefono}}</p>
                </a>
            </ng-template>
            <ng-template #is_alumno let-data="adtData" let-emitter="captureEvents">
                <p>{{data.nombres}} {{data.apellidos}}</p>
            </ng-template>
            <ng-template #is_vendedor let-data="adtData" let-emitter="captureEvents">
                <p>{{data.vendedor.detail_user.nombres}} {{data.vendedor.detail_user.apellidos}}</p>
            </ng-template>
            <ng-template #dtActions let-data="adtData" let-emitter="captureEvents">
                <app-buttons-base [actions]="dataTableActions" [data]="data" (emitter)="emitter($event)"></app-buttons-base>
            </ng-template>
            <table id="material--template-dt" datatable *ngIf="columns.length"  [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger" class="table table-striped"></table>
        </div>
    </div>
</div>
<button class="floating-btn" (click)="selectSeller()">
    <i class="bi bi-plus-lg"></i> <!-- Ícono opcional -->
</button>
<!-- Modal Leads-->
<ng-template #modal_control let-modal>
    <div class="card border-0 border-left-5 border-theme bg-gradient-theme-light">
        <div class="card-header">
            <h5 class="mb-1">Registro No Aptos</h5>
            <p class="text-secondary title">Repetidos por Vendedor</p>
        </div>
        <div class="card-body modal-body">
            <div class="row">
                <div class="col-12 col-md-12 mb-2 text-center" *ngFor="let data of repetidos">
                    <span class="badge bg-primary">{{data}}</span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-auto">
                    <button class="btn btn-sm btn-danger text-light mx-3" (click)="closeModal()">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>
<!-- SPINNER -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "triangle-skew-spin">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>