<!-- page title bar -->
<div class="container-fluid" *ngIf="course">
    <div class="row align-items-center page-title">
        <div class="col-12 col-md mb-2 mb-sm-0">
            <h5 class="mb-0">{{course.name_diplomado}}</h5>
            <p class="text-secondary">Bienvenid@ a su diplomado</p>
        </div>
        <div class="col col-sm-auto">
        </div>
        <div class="col-auto ps-0 position-relative">
        </div>
    </div>
</div>
<div class="row">
    <!-- <iframe src="https://drive.google.com/file/d/1UM0JeMv_9doVSuOXW9xiTclyj5YvyIy0/preview" width="640" 
        height="480" allow="autoplay"></iframe> -->
    <div class="col-sm-12 col-md-12 col-lg-6" *ngIf="course">
        <div class="card mx-2 border-0 bg-white">
            <div class="card-header" *ngIf="class_module">
                <div class="row align-items-center" *ngIf="class_module.en_vivo">
                    <div class="col-auto">
                        <i class="bi bi-record-circle h5 avatar avatar-40 bg-light-red text-danger rounded"></i>
                    </div>
                    <div class="col">
                        <h6 class="fw-medium mb-0">Clase en Vivo</h6>
                        <p class="small text-secondary">{{course.name_diplomado}}</p>
                    </div>
                </div>
                <div class="row align-items-center" *ngIf="!class_module.en_vivo">
                    <div class="col-auto">
                        <i class="bi bi-clock-history h5 avatar avatar-40 bg-light-orange text-warning rounded"></i>
                    </div>
                    <div class="col">
                        <h6 class="fw-medium mb-0">Próxima Clase</h6>
                        <p class="small text-secondary">{{course.name_diplomado}}</p>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="class_module">
                <div class="row">
                    <div class="col-auto">
                        <div class="rounded text-white p-3 parpadea" *ngIf="class_module.en_vivo">
                            <img src="https://media.discordapp.net/attachments/1011378535186845790/1176252180982943755/Component_7.png?ex=656e3135&is=655bbc35&hm=b90fbd35fceb7ce87cbbc9a08afbbaf86b521b1aaebb0c784e6008efe84cd230&=" alt="">
                        </div>
                        <div class="rounded text-white p-3" *ngIf="!class_module.en_vivo">
                            <img style="filter: grayscale(100%);" src="https://media.discordapp.net/attachments/1011378535186845790/1176252180982943755/Component_7.png?ex=656e3135&is=655bbc35&hm=b90fbd35fceb7ce87cbbc9a08afbbaf86b521b1aaebb0c784e6008efe84cd230&=" alt="">
                        </div>
                    </div>
                    <div class="col ps-0 align-self-center">
                        <h5 class="mb-0 text-uppercase">{{class_module.nombre_modulo}}</h5>
                        <h6 class="text-secondary mb-0">{{class_module.fecha_clase*1000 | date:'dd/MM/yyyy HH:mm'}} - CLASE {{class_module.clase_num}}</h6>
                        <h6 *ngIf="class_module.en_vivo">
                            <a href="javajavascript:void(0)" target="_blank" class="badge rounded-pill bg-success text-uppercase" (click)="abrirLink(class_module)"
                                style="margin-top: 10px; background:#00386A !important">
                                <i class="bi bi-camera-video-fill"></i> Ver en Vivo
                            </a>
                        </h6>
                    </div>
                    <div class="col-auto">
                        <p class="calendar"><em class="text-capitalize">{{class_module.fecha_clase*1000 | date:'MMM'}}</em>{{class_module.fecha_clase*1000 | date:'dd'}}</p>
                        <!-- <div class="rounded bg-red text-white p-3">
                            <i class="bi bi-building mb-1"></i>
                            <p class="bg-white text-muted small mb-1">
                                Annual<br />Income
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="card border-0 theme-blue bg-gradient-theme-light mx-2 my-3" *ngIf="course">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <i class="bi bi-archive h5 avatar avatar-40 bg-light-theme rounded"></i>
                    </div>
                    <div class="col">
                        <h6 class="fw-medium mb-0">Mis Bloques</h6>
                        <p class="small text-secondary">{{course.name_diplomado}}</p>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="mb-0 treeview" id="treeviewExample">
                    <li *ngFor="let data of modulos, let i = index" class="treeview-list-item {{data.bg_color}}">
                        <a data-bs-toggle="collapse" href="#Bloque-{{data.module_number}}" role="button" aria-expanded="true" class="text-dark"
                            *ngIf="modulo && modulo.numero_modulo==data.module_number">
                            <p class="treeview-text1 mx-3 text-uppercase">
                                <span class="blue"><small style="font-size: 13px !important;">{{i+1}}</small></span>{{data.module_name}}
                            </p>
                        </a>
                        <a data-bs-toggle="collapse" href="#Bloque-{{data.module_number}}" role="button" aria-expanded="false" class="text-dark"
                            *ngIf="modulo && modulo.numero_modulo!=data.module_number">
                            <p class="treeview-text1 mx-3 text-uppercase">
                                <span class="blue"><small style="font-size: 13px !important;">{{i+1}}</small></span>{{data.module_name}}
                            </p>
                        </a>
                        <a data-bs-toggle="collapse" href="#Bloque-{{data.module_number}}" role="button" aria-expanded="false" class="text-dark"
                            *ngIf="!modulo">
                            <p class="treeview-text1 mx-3 text-uppercase">
                                <span class="blue"><small style="font-size: 13px !important;">{{i+1}}</small></span>{{data.module_name}}
                            </p>
                        </a>
                        <ul class="collapse treeview-list {{data.class}}" id="Bloque-{{data.module_number}}" data-show="false">
                            <li class="treeview-list-item" *ngIf="grabacion">
                                <a data-bs-toggle="collapse" href="#Bloque-{{data.module_number}}-1" role="button" aria-expanded="false" 
                                    (click)="prueba('',data.id)">
                                    <p class="treeview-text text-uppercase">clases grabadas</p>
                                </a>
                                <ul class="collapse treeview-list" id="Bloque-{{data.module_number}}-1" data-show="false">
                                    <div *ngFor="let recording of grabacion[i].data">
                                        <li class="treeview-list-item">
                                            <div class="treeview-item">
                                                <a class="flex-1" href="javascript:void(0)" (click)="openModalClass(recording)">
                                                    <p class="treeview-text">
                                                        <i class="bi bi-play-btn-fill text-danger mx-1"></i>
                                                        {{recording.clase.data_class.name_video_clase}}
                                                    </p>
                                                </a>
                                            </div>
                                        </li>
                                        <!-- <li class="treeview-list-item" *ngIf="recording.modulo_id === module_id ">
                                            <div class="treeview-item">
                                                <a class="flex-1" href="javascript:void(0)" (click)="openModalClass(recording)">
                                                    <p class="treeview-text">
                                                        <i class="bi bi-play-btn-fill text-danger mx-1"></i>
                                                        {{recording.clase.data_class.name_video_clase}}
                                                    </p>
                                                </a>
                                            </div>
                                        </li> -->
                                    </div>
                                </ul>
                            </li>
                            <li class="treeview-list-item" *ngIf="materials">
                                <a data-bs-toggle="collapse" href="#Bloque-{{data.module_number}}-2" role="button" aria-expanded="false" 
                                    (click)="prueba('',i)">
                                    <p class="treeview-text text-uppercase">material de estudio</p>
                                </a>
                                <ul class="collapse treeview-list" id="Bloque-{{data.module_number}}-2" data-show="false">
                                    <li class="treeview-list-item">
                                        <a data-bs-toggle="collapse" href="#Bloque-{{data.module_number}}-2-1" role="button" aria-expanded="false">
                                            <p class="treeview-text text-uppercase">diapositivas</p>
                                        </a>
                                        <ul class="collapse treeview-list" id="Bloque-{{data.module_number}}-2-1" data-show="true">
                                            <div *ngFor="let material of materials[i].data" >
                                                <li class="treeview-list-item" *ngIf="3 === material.type_material_id">
                                                    <div class="treeview-item">
                                                        <a class="flex-1" href="javascript:void(0)" (click)="openModal(material)">
                                                            <p class="treeview-text">
                                                                <span class="me-2 bi bi-filetype-pdf text-danger" *ngIf="material.mat_icon === 'pdf'"></span>
                                                                <span class="me-2 bi bi-filetype-xls text-success" *ngIf="material.mat_icon === 'xls'"></span>
                                                                <span class="me-2 bi bi-filetype-doc text-primary" *ngIf="material.mat_icon === 'doc'"></span>
                                                                <span class="me-2 bi bi-filetype-ppt text-warning" *ngIf="material.mat_icon === 'ppt'"></span>
                                                                {{material.mat_name}}
                                                            </p>
                                                        </a>
                                                    </div>
                                                </li>
                                            </div>
                                            <!-- <li class="treeview-list-item">
                                                <div class="treeview-item">
                                                <a class="flex-1" href="javascript:void(0)">
                                                    <p class="treeview-text">
                                                    <span class="me-2 bi bi-filetype-ppt text-warning"></span>
                                                    Diapositiva2.pptx
                                                    </p>
                                                </a>
                                                </div>
                                            </li> -->
                                        </ul>
                                    </li>
                                    <li class="treeview-list-item">
                                        <a data-bs-toggle="collapse" href="#Bloque-{{data.module_number}}-2-2" role="button" aria-expanded="false">
                                            <p class="treeview-text text-uppercase">material complementario</p>
                                        </a>
                                        <ul class="collapse treeview-list" id="Bloque-{{data.module_number}}-2-2" data-show="true">
                                            <div *ngFor="let material of materials[i].data" >
                                                <li class="treeview-list-item" *ngIf="2 === material.type_material_id">
                                                    <div class="treeview-item">
                                                        <a class="flex-1" href="javascript:void(0)" (click)="openModal(material)">
                                                            <p class="treeview-text">
                                                                <span class="me-2 bi bi-filetype-pdf text-danger" *ngIf="material.mat_icon === 'pdf'"></span>
                                                                <span class="me-2 bi bi-filetype-xls text-success" *ngIf="material.mat_icon === 'xls'"></span>
                                                                <span class="me-2 bi bi-filetype-doc text-primary" *ngIf="material.mat_icon === 'doc'"></span>
                                                                <span class="me-2 bi bi-filetype-ppt text-warning" *ngIf="material.mat_icon === 'ppt'"></span>
                                                                {{material.mat_name}}
                                                            </p>
                                                        </a>
                                                    </div>
                                                </li>
                                            </div>
                                            <!-- <li class="treeview-list-item">
                                                <div class="treeview-item">
                                                    <a class="flex-1" href="javascript:void(0)">
                                                        <p class="treeview-text">
                                                            <span class="me-2 bi bi-filetype-pdf text-danger"></span>
                                                            Material1.pdf
                                                        </p>
                                                    </a>
                                                </div>
                                            </li> -->
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="treeview-list-item" *ngIf="evaluations">
                                <a data-bs-toggle="collapse" href="#Bloque-{{data.module_number}}-3" role="button" aria-expanded="false"
                                    (click)="prueba(data.id, i+1)">
                                    <p class="treeview-text text-uppercase">evaluaciones</p>
                                </a>
                                <ul class="collapse treeview-list" id="Bloque-{{data.module_number}}-3" data-show="false">
                                    <div *ngFor="let evaluacion of evaluations[i].data">
                                        <li class="treeview-list-item">
                                            <div class="treeview-item" *ngIf="fecha_ahora<evaluacion.fecha_evaluacion*1000">
                                                <a class="flex-1" href="javascript:void(0)">
                                                    <p class="treeview-text">
                                                        <span class="me-2 bi bi-file-earmark-medical text-blue"></span>
                                                        {{evaluacion.evaluation_name}} |
                                                        <span class="badge bg-orange">Fecha Inicio: {{evaluacion.fecha_evaluacion*1000 |  date:'d MMMM, y'}}</span>
                                                    </p>
                                                </a>
                                            </div>
                                            <div class="treeview-item" *ngIf="fecha_ahora>=evaluacion.fecha_evaluacion*1000">
                                                <a class="flex-1" href="javascript:void(0)" (click)="action_Evaluation(evaluacion)">
                                                    <p class="treeview-text" *ngIf="!evaluacion.nota">
                                                        <span class="me-2 bi bi-file-earmark-medical text-blue"></span>
                                                        {{evaluacion.evaluation_name}} | 
                                                        <span class="badge bg-red">No dió examen</span>
                                                    </p>
                                                    <p class="treeview-text" *ngIf="evaluacion.nota">
                                                        <span class="me-2 bi bi-file-earmark-medical text-blue"></span>
                                                        {{evaluacion.evaluation_name}} |
                                                        <span class="badge bg-green">Nota: {{evaluacion.nota}}</span>
                                                    </p>
                                                </a>
                                            </div>
                                        </li>
                                    </div>
                                    <li class="treeview-list-item">
                                        <div class="treeview-item">
                                            <a class="flex-1" href="javascript:void(0)">
                                                <p class="treeview-text" >
                                                    <span class="me-2 bi bi-file-earmark-medical text-blue"></span>
                                                    <span class="badge bg-theme text-uppercase">Promedio Final: {{evaluations[i].promedio}}</span>
                                                </p>
                                            </a>
                                        </div>
                                    </li>
                                    <!-- <li class="treeview-list-item">
                                        <div class="treeview-item">
                                            <a class="flex-1" href="javascript:void(0)">
                                                <p class="treeview-text">
                                                <span class="me-2 bi bi-file-earmark-medical text-blue"></span>
                                                    Examen 1
                                                </p>
                                            </a>
                                        </div>
                                    </li> -->
                                </ul>
                            </li>
                            <li class="treeview-list-item" *ngIf="materials">
                                <a data-bs-toggle="collapse" href="#Bloque-{{data.module_number}}-4" role="button" aria-expanded="false" 
                                    (click)="prueba('',i)">
                                    <p class="treeview-text text-uppercase">lecturas</p>
                                </a>
                                <ul class="collapse treeview-list" id="Bloque-{{data.module_number}}-4" data-show="false">
                                    <div *ngFor="let material of materials[i].data" >
                                        <li class="treeview-list-item" *ngIf="1 === material.type_material_id">
                                            <div class="treeview-item">
                                                <a class="flex-1" href="javascript:void(0)" (click)="openModal(material)">
                                                    <p class="treeview-text">
                                                        <span class="me-2 bi bi-filetype-pdf text-danger" *ngIf="material.mat_icon === 'pdf'"></span>
                                                        <span class="me-2 bi bi-filetype-xls text-success" *ngIf="material.mat_icon === 'xls'"></span>
                                                        <span class="me-2 bi bi-filetype-doc text-primary" *ngIf="material.mat_icon === 'doc'"></span>
                                                        <span class="me-2 bi bi-filetype-ppt text-warning" *ngIf="material.mat_icon === 'ppt'"></span>
                                                        {{material.mat_name}}
                                                    </p>
                                                </a>
                                            </div>
                                        </li>
                                    </div>
                                    <!-- <li class="treeview-list-item">
                                        <div class="treeview-item">
                                            <a class="flex-1" href="javascript:void(0)">
                                                <p class="treeview-text">
                                                    <i class="bi bi-play-btn-fill text-danger mx-1"></i>
                                                    Taller1.mp4
                                                </p>
                                            </a>
                                        </div>
                                    </li> -->
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card-footer">
                <!-- <a class="btn btn-sm btn-outline-theme">Ir al Programa</a> -->
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6">
        <app-calendar [course]="courseCode"></app-calendar>
    </div>
</div>
<!-- Modal Documentos -->
<ng-template #docs let-modal>
    <div class="modal-header">
        <h5 class="modal-title"><b>Visualizar Documento: {{url_doc.mat_name}}</b></h5>
    </div>
    <div class="modal-body row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <ngx-doc-viewer
                url="{{url_doc.mat_url_doc}}"
                viewer="google"
                style="width:100%;height:80vh;"
            >
            </ngx-doc-viewer>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <hr>
            <a href="{{url_doc.mat_url_doc}}" target="_blank" type="button" class="btn btn-primary text-light mx-2"> Descargar</a>
            <button class="btn btn-danger text-light" (click)="closeModal()"> Cerrar</button>
        </div>
    </div>
</ng-template>
<!-- Empieza modal confirmacion-->
<ng-template #content let-modal>
    <app-modal-test *ngIf="exam_generated"></app-modal-test>
    <app-modal-expired *ngIf="exam_expired"></app-modal-expired>
    <app-modal-finalizado [id_examen]="id_examen.evaluation_student_id" [motrar_nota]="true"
                          [titulo]="'HAS FINALIZADO TU EXÁMEN'" *ngIf="exam_finalizado"></app-modal-finalizado>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="modal-footer" style=" display: flex; justify-content: center;">
            <button class="btn btn-danger mx-2" (click)="closeModalInfo()">CANCELAR</button>
            <button class="btn btn-success" (click)="openTest(id_examen)" *ngIf="btn_iniciar_exam">INICIAR</button>
        </div>
    </div>
</ng-template>
<!-- Modal Clase Grabada -->
<ng-template #record let-modal>
    <div class="modal-header">  
        <h5 class="modal-title"><b>Visualizar Clase: {{detalle_class.clase.data_class.name_video_clase}}</b></h5>
    </div>
    <div class="modal-body row">
        <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <iframe [src]="url_class | safe" width="100%" height="480" allow="autoplay" allowFullScreen="true"></iframe>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 text-center">
            <hr>
            <button class="btn btn-danger text-light" (click)="closeModalClass()"> Cerrar</button>
        </div>
    </div>
</ng-template>
<!-- SPINNER -->
<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "triangle-skew-spin">
    <p style="color: white" > Cargando... </p>
</ngx-spinner>